<!-- [S]tedu-N17 -->
<th:block th:fragment="footer-fragment" xmlns:th="http://www.thymeleaf.org">
    <div class="footer-container">
        <div class="footer-top">
            <div class="inner">
                <div class="footer-menu">
                    <a href="javascript:void(0)">이용약관</a>
                    <a href="javascript:void(0)">개인정보처리방침</a>
                    <a href="javascript:void(0)">푸터메뉴1</a>
                    <a href="javascript:void(0)">푸터메뉴2</a>
                </div>
                <div class="footer-sns">
                    <a href="javascript:void(0)">
                        <img th:src="@{/asset/icons/ico_sns_instargram.svg}" alt="인스타그램">
                    </a>
                    <a href="javascript:void(0)">
                        <img th:src="@{/asset/icons/ico_sns_youtube.svg}" alt="유튜브">
                    </a>
                    <a href="javascript:void(0)">
                        <img th:src="@{/asset/icons/ico_sns_facebook.svg}" alt="페이스북">
                    </a>
                    <a href="javascript:void(0)">
                        <img th:src="@{/asset/icons/ico_sns_kakao.svg}" alt="카카오톡">
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-area">
            <div class="inner">
                <dif class="footer-info-wrap">
                    <div class="footer-logo">
                        <a href="javascript:void(0)">
                            <img th:src="@{/asset/images/logo_white.png}" alt="로고">
                        </a>
                    </div>
                    <div class="footer-info">
                        <span>서울시 금천구 벚꽃로36길 30 가산 KS타워 1409호</span>
                        <span>T. 070-8872-8874</span>
                        <span>E. help@openfield.co.kr</span>
                        <span class="copy">2022 BY TEMPLATEHOUSE. ALL RIGHTS RESEVED</span>
                    </div>
                </dif>
                <div class="site-wrap">
                    <span class="current">Family Site</span>
                    <div class="site-box">
                        <a href="javascript:void(0)">사이트1</a>
                        <a href="javascript:void(0)">사이트2</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>