<!-- [S]tedu-N3 -->
<div th:fragment="head-fragment" class="tedu-N3" data-bid="sqlxIC74Uc" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.springframework.org/schema/security">
    <div class="header-container lightmode">
        <div class="header-top">
            <div class="inner">
                <div class="header-member">
                    <a sec:authorize="isAuthenticated()" th:href="@{/member/ming/log-out}">
                        <em class="ico">
                            <img th:src="@{/resources/icons/ico_login.svg}" alt="로그아웃 아이콘">
                        </em>
                        <span>로그아웃</span>
                    </a>
                    <a sec:authorize="!isAuthenticated()" th:href="@{/user/ming/log-in}">
                        <em class="ico">
                            <img th:src="@{/resources/icons/ico_login.svg}" alt="로그인 아이콘">
                        </em>
                        <span>로그인</span>
                    </a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/member/ming/myPage}">
                        <em class="ico">
                            <img th:src="@{/resources/icons/ico_member.svg}" alt="마이페이지 아이콘">
                        </em>
                        <span>마이페이지</span>
                    </a>
                    <a sec:authorize="!isAuthenticated()" th:href="@{/user/ming/check}">
                        <em class="ico">
                            <img th:src="@{/resources/icons/ico_member.svg}" alt="회원가입 아이콘">
                        </em>
                        <span>회원가입</span>
                    </a>
                    <a href="javascript:void(0)" th:href="@{/member/hamster/shoppingCart}">
                        <em class="ico">
                            <img th:src="@{/resources/icons/shoppingCart.svg}" alt="장바구니 아이콘">
                        </em>
                        <span>장바구니</span>
                    </a>
                </div>
                <div class="header-lang">
                    <a class="current" href="javascript:void(0);">
                        <span>KOR</span>
                        <em class="ico">
                            <img th:src="@{/resources/icons/ico_arrow_down.svg}" alt="화살표 아이콘">
                        </em>
                    </a>
                    <div class="lang-box">
                        <a class="on" href="javascript:void(0);">KOR</a>
                        <a href="javascript:void(0);">ENG</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-nav">
            <div class="inner">
                <div class="header-logo">
                    <a href="javascript:void(0)">
                        <img th:src="@{/asset/images/logo_black.png}" alt="로고">
                    </a>
                </div>
                <div class="header-gnb">
                    <div class="gnb-list">
                        <a href="javascript:void(0)">BEST 교육</a>
                    </div>
                    <div class="gnb-list">
                        <a href="javascript:void(0)">신규</a>
                    </div>
                    <div class="gnb-list">
                        <a href="javascript:void(0)">온라인 교육</a>
                    </div>
                    <div class="gnb-list">
                        <a href="javascript:void(0)">공개예정</a>
                    </div>
                    <div class="gnb-list">
                        <a href="javascript:void(0)">이벤트</a>
                    </div>
                </div>
                <div class="header-btn">
                    <a href="javascript:void(0)" class="search-close">
                        <em class="ico">
                            <img th:src="@{/resources/icons/ico_close.svg}" alt="닫기 아이콘">
                        </em>
                    </a>
                    <a href="javascript:void(0)" class="search-btn">
                        <em class="ico">
                            <img th:src="@{/resources/icons/ico_search.svg}" alt="검색 아이콘">
                        </em>
                    </a>
                    <a href="javascript:void(0)" class="menu-open">
                        <em class="ico">
                            <img th:src="@{/resources/icons/ico_menu.svg}" alt="메뉴 아이콘">
                        </em>
                    </a>
                    <a href="javascript:void(0)" class="menu-close">
                        <em class="ico">
                            <img th:src="@{/resources/icons/ico_close.svg}" alt="닫기 아이콘">
                        </em>
                    </a>
                </div>
            </div>
        </div>
        <section class="header-area">
            <div class="inner">
                <div class="menu-wrap">
                    <div class="menu-box">
                        <a class="menu-title" href="javascript:void(0)">프로그래밍</a>
                        <a href="javascript:void(0)">프론트엔드 개발</a>
                        <a href="javascript:void(0)">백엔드 개발</a>
                        <a href="javascript:void(0)">모바일 앱 개발</a>
                        <a href="javascript:void(0)">게임 개발</a>
                    </div>
                    <div class="menu-box">
                        <a class="menu-title" href="javascript:void(0)">디자인</a>
                        <a href="javascript:void(0)">UI/UX</a>
                        <a href="javascript:void(0)">2D/그래픽/브랜딩</a>
                        <a href="javascript:void(0)">3D/건축</a>
                    </div>
                    <div class="menu-box">
                        <a class="menu-title" href="javascript:void(0)">마케팅</a>
                        <a href="javascript:void(0)">디지털 마케팅</a>
                        <a href="javascript:void(0)">콘텐츠/마케팅 전략</a>
                    </div>
                    <div class="menu-box">
                        <a class="menu-title" href="javascript:void(0)">언어</a>
                        <a href="javascript:void(0)">영어</a>
                        <a href="javascript:void(0)">외국어시험</a>
                        <a href="javascript:void(0)">제2 외국어</a>
                    </div>
                    <div class="menu-box">
                        <a class="menu-title" href="javascript:void(0)">라이프스타일</a>
                        <a href="javascript:void(0)">취미 드로잉</a>
                        <a href="javascript:void(0)">요리</a>
                        <a href="javascript:void(0)">사진/영상</a>
                        <a href="javascript:void(0)">공예</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="header-search">
            <div class="inner">
                <div class="header-search-form">
                    <div class="inputset">
                        <button class="icon-search btn" type="button" aria-label="아이콘">
                        </button>
                        <input type="text" class="inputset-input form-control" placeholder="교육명, 강사명 등을 입력해주세요." aria-label="내용" id="search-input" name="search-input">
                    </div>
                </div>
                <div class="recom-list">
                    <h5 class="recom-title">추천 검색어</h5>
                    <div class="recom-box">
                        <a href="javascript:void(0)">UX/UI 디자인</a>
                        <a href="javascript:void(0)">프론트엔드 개발</a>
                        <a href="javascript:void(0)">마케팅</a>
                        <a href="javascript:void(0)">그래픽</a>
                    </div>
                </div>
            </div>
        </section>
        <div class="mhd-area">
            <div class="inner">
                <div class="mhd-member">
                    <a href="javascript:void(0)">
                        <span>로그인</span>
                    </a>
                    <a href="javascript:void(0)">
                        <span>회원가입</span>
                    </a>
                </div>
                <div class="mhd-gnb">
                    <div class="mhd-list">
                        <a href="javascript:void(0)">BEST 교육</a>
                    </div>
                    <div class="mhd-list">
                        <a href="javascript:void(0)">신규</a>
                    </div>
                    <div class="mhd-list">
                        <a href="javascript:void(0)">온라인 교육</a>
                    </div>
                    <div class="mhd-list">
                        <a href="javascript:void(0)">공개예정</a>
                    </div>
                    <div class="mhd-list">
                        <a href="javascript:void(0)">이벤트</a>
                    </div>
                </div>
                <div class="mhd-menu-wrap">
                    <div class="mhd-menu-box is-active">
                        <div class="mhd-menu-title">
                            <a href="javascript:void(0)">프로그래밍</a>
                        </div>
                        <div class="mhd-menu-list">
                            <a href="javascript:void(0)">프론트엔드 개발</a>
                            <a href="javascript:void(0)">백엔드 개발</a>
                            <a href="javascript:void(0)">모바일 앱 개발</a>
                            <a href="javascript:void(0)">게임 개발</a>
                        </div>
                    </div>
                    <div class="mhd-menu-box">
                        <div class="mhd-menu-title">
                            <a href="javascript:void(0)">디자인</a>
                        </div>
                        <div class="mhd-menu-list">
                            <a href="javascript:void(0)">UI/UX</a>
                            <a href="javascript:void(0)">2D/그래픽/브랜딩</a>
                            <a href="javascript:void(0)">3D/건축</a>
                        </div>
                    </div>
                    <div class="mhd-menu-box">
                        <div class="mhd-menu-title">
                            <a href="javascript:void(0)">마케팅</a>
                        </div>
                        <div class="mhd-menu-list">
                            <a href="javascript:void(0)">영어</a>
                            <a href="javascript:void(0)">외국어시험</a>
                            <a href="javascript:void(0)">제2 외국어</a>
                        </div>
                    </div>
                    <div class="mhd-menu-box">
                        <div class="mhd-menu-title">
                            <a href="javascript:void(0)">라이프스타일</a>
                        </div>
                        <div class="mhd-menu-list">
                            <a href="javascript:void(0)">취미 드로잉</a>
                            <a href="javascript:void(0)">요리</a>
                            <a href="javascript:void(0)">사진/영상</a>
                            <a href="javascript:void(0)">공예</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>