<!-- [S]tedu-N3 -->
<div th:fragment="head-fragment" class="tedu-N3" data-bid="sqlxIC74Uc" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.springframework.org/schema/security">
    <div class="header-container lightmode">
        <div class="header-top">
            <div class="inner">
                <div class="header-member">
                    <a sec:authorize="isAuthenticated()" th:href="@{/member/ming/log-out}">
                        <em class="ico">
                            <img th:src="@{/resources/icons/ico_login.svg}" alt="로그아웃 아이콘">
                        </em>
                        <span>로그아웃</span>
                    </a>
                    <a sec:authorize="!isAuthenticated()" th:href="@{/user/ming/log-in}">
                        <em class="ico">
                            <img th:src="@{/resources/icons/ico_login.svg}" alt="로그인 아이콘">
                        </em>
                        <span>로그인</span>
                    </a>
                    <a sec:authorize="!hasRole('ADMIN') && isAuthenticated()" th:href="@{/member/ming/info}">
                        <em class="ico">
                            <img th:src="@{/resources/icons/ico_member.svg}" alt="마이페이지 아이콘">
                        </em>
                        <span>마이페이지</span>
                    </a>
                    <a sec:authorize="hasRole('ADMIN') && isAuthenticated()" th:href="@{/admin/dashboard}">
                        <em class="ico">
                            <img th:src="@{/resources/icons/ico_member.svg}" alt="마이페이지 아이콘">
                        </em>
                        <span>마이페이지</span>
                    </a>
                    <a sec:authorize="!isAuthenticated()" th:href="@{/user/ming/check}">
                        <em class="ico">
                            <img th:src="@{/resources/icons/ico_member.svg}" alt="회원가입 아이콘">
                        </em>
                        <span>회원가입</span>
                    </a>
                    <a href="javascript:void(0)" th:href="@{/member/hamster/shoppingCart}">
                        <em class="ico">
                            <img th:src="@{/resources/icons/shoppingCart.svg}" alt="장바구니 아이콘">
                        </em>
                        <span>장바구니</span>
                    </a>
                </div>
                <div class="header-lang" id="ex" style="cursor: pointer">
                    <input type="hidden" id="now-cu" value="first">
                    <div class="current" href="javascript:void(0);">
                        <span>환전</span>
                        <em class="ico">
                            <img th:src="@{/resources/icons/ico_arrow_down.svg}" alt="화살표 아이콘">
                        </em>
                    </div>
                </div>
                <div class="header-lang">
                    <a class="current" href="javascript:void(0);">
                        <span>KOR</span>
                        <em class="ico">
                            <img th:src="@{/resources/icons/ico_arrow_down.svg}" alt="화살표 아이콘">
                        </em>
                    </a>
                    <div class="lang-box">
                        <a class="on" href="javascript:void(0);">KOR</a>
                        <a href="javascript:void(0);">ENG</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-nav">
            <div class="inner">
                <div class="header-logo">
                    <a th:href="@{/home}">
                        <img th:src="@{/asset/images/logo2.png}" alt="로고" style="width: 190px; height: 60px; margin-top: -12px;">
                    </a>
                </div>
                <div class="header-gnb" style="margin-left: 110px;">
                    <div class="gnb-list">
                        <a th:href="@{/home}"><img th:src="@{/asset/icons/home.svg}" style="width: 20px; height: 20px; margin-right: 5px; margin-bottom: 3px;" alt="홈">홈</a>
                    </div>
                    <div class="gnb-list">
                        <a th:href="@{/flight/search_flight}"><img th:src="@{/asset/icons/head_flight.svg}" style="width: 20px; height: 20px; margin-right: 5px; margin-bottom: 3px;" alt="항공">항공</a>
                    </div>
                    <div class="gnb-list">
                        <a th:href="@{/con/hotel-search}"><img th:src="@{/asset/icons/head_hotel.png}" style="width: 20px; height: 20px; margin-right: 5px; margin-bottom: 3px;" alt="숙소">숙소</a>
                    </div>
                    <div class="gnb-list">
                        <a th:href="@{/customer/faq}"><img th:src="@{/asset/icons/head_qna.png}" style="width: 20px; height: 20px; margin-right: 5px; margin-bottom: 3px;" alt="고센">고객센터</a>
                    </div>
                </div>
                <div class="header-logo">
                    <a href="https://potatoes.hamsic.link/concho/main">
                        <img th:src="@{/asset/images/logo1.png}" alt="로고" style="width: 170px; height: 50px; margin-top: -6px;">
                    </a>
                </div>
                <div class="header-btn">
                    <a href="javascript:void(0)" class="menu-open">
                        <em class="ico">
                            <img th:src="@{/resources/icons/ico_menu.svg}" alt="메뉴 아이콘">
                        </em>
                    </a>
                    <a href="javascript:void(0)" class="menu-close">
                        <em class="ico">
                            <img th:src="@{/resources/icons/ico_close.svg}" alt="닫기 아이콘">
                        </em>
                    </a>
                </div>
            </div>
        </div>
        <section class="header-area">
            <div class="inner">
                <div class="menu-wrap">
                    <div class="menu-box">
                        <span class="menu-title">홈</span>
                        <a th:href="@{/home}">홈</a>
                    </div>
                    <div class="menu-box">
                        <span class="menu-title">항공</span>
                        <a th:href="@{/flight/search_flight}">항공권 검색</a>
                    </div>
                    <div class="menu-box">
                        <span class="menu-title">숙소</span>
                        <a th:href="@{con/hotel-search}">숙소 검색</a>
                    </div>
                    <div class="menu-box">
                        <span class="menu-title">고객센터</span>
                        <a th:href="@{/customer/faq}">자주 묻는 질문</a>
                        <a th:href="@{/customer/qna}">Q&A</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="header-search">
            <div class="inner">
                <div class="header-search-form">
                    <div class="inputset">
                        <button class="icon-search btn" type="button" aria-label="아이콘">
                        </button>
                        <input type="text" class="inputset-input form-control" placeholder="교육명, 강사명 등을 입력해주세요." aria-label="내용" id="search-input" name="search-input">
                    </div>
                </div>
                <div class="recom-list">
                    <h5 class="recom-title">추천 검색어</h5>
                    <div class="recom-box">
                        <a href="javascript:void(0)">UX/UI 디자인</a>
                        <a href="javascript:void(0)">프론트엔드 개발</a>
                        <a href="javascript:void(0)">마케팅</a>
                        <a href="javascript:void(0)">그래픽</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>