<head th:fragment="head-top-fragment" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="imagetoolbar" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="title" content="trip-감자">
    <meta name="description" content="항공권 예약, 호텔 예약 웹사이트입니다.">
    <meta name="keywords" content="항공권,호텔,여행,trip">
    <meta property="og:title" content="trip-감자">
    <meta property="og:description" content="trip-감자">
    <meta property="og:image" content="https://웹사이트/images/opengraph.png">
    <meta property="og:url" content="https://웹사이트">
    <title>trip-감자</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/asset/css/setting.css}">
    <link rel="stylesheet" th:href="@{/asset/css/plugin.css}">
    <link rel="stylesheet" th:href="@{/asset/css/template.css}">
    <link rel="stylesheet" th:href="@{/asset/css/common.css}">
    <link rel="stylesheet" th:href="@{/asset/css/style.css}">
</head>