<!-- 이 코드를 복붙해서 사용해주세요 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{common/head-top :: head-top-fragment}"><title>감자팀</title></head>
<body>
  <div th:replace="~{common/head :: head-fragment}"></div>

  <!-- [E]tedu-N3 -->
  <main class="th-layout-main ">
    <!-- [S]tedu-N7 -->
    <div class="tedu-N7" data-bid="LRlXiC74YQ">
      <div class="visual-inner">
        <div class="visual-container">
          <div class="visual-container">
            <div class="visual-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a href="javascript:void(0)" class="banner-box">
                    <div class="img-wrap">
                      <div class="img-box">
                        <img class="visual-bg visual-pc" th:src="@{/asset/images/img_N7_pcvisual_01.png}" alt="메인배너-1">
                        <img class="visual-bg visual-mo" th:src="@{/asset/images/img_N7_movisual_01.png}" alt="모바일 메인배너-1">
                      </div>
                    </div>
                    <div class="visual-text-box">
                      <h2 class="visual-title" data-swiper-parallax="-700"> 지금 인기있는 강의 듣고, <br>디자인시스템 패키지 받자! </h2>
                      <div class="visual-subtitle" data-swiper-parallax="-1000">
                        <span class="br">선착순 한정 패키지와 프로모션 혜택까지</span> 받을 수 있는 기회
                      </div>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide btype">
                  <a href="javascript:void(0)" class="banner-box">
                    <div class="img-wrap">
                      <div class="img-box">
                        <img class="visual-bg visual-pc" th:src="@{/asset/images/img_N7_pcvisual_02.png}" alt="메인배너-2">
                        <img class="visual-bg visual-mo" th:src="@{/asset/images/img_N7_movisual_02.png}" alt="모바일 메인배너-2">
                      </div>
                    </div>
                    <div class="visual-text-box">
                      <h2 class="visual-title" data-swiper-parallax="-700"> 지금 인기있는 강의 듣고, <br>디자인시스템 패키지 받자! </h2>
                      <div class="visual-subtitle" data-swiper-parallax="-1000">
                        <span class="br">선착순 한정 패키지와 프로모션 혜택까지</span> 받을 수 있는 기회
                      </div>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="javascript:void(0)" class="banner-box">
                    <div class="img-wrap">
                      <div class="img-box">
                        <img class="visual-bg visual-pc" th:src="@{/asset/images/img_N7_pcvisual_03.png}" alt="메인배너-3">
                        <img class="visual-bg visual-mo" th:src="@{/asset/images/img_N7_movisual_03.png}" alt="모바일 메인배너-3">
                      </div>
                    </div>
                    <div class="visual-text-box">
                      <h2 class="visual-title" data-swiper-parallax="-700"> 지금 인기있는 강의 듣고, <br>디자인시스템 패키지 받자! </h2>
                      <div class="visual-subtitle" data-swiper-parallax="-1000">
                        <span class="br">선착순 한정 패키지와 프로모션 혜택까지</span> 받을 수 있는 기회
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="control-wrap">
                <div class="control-bottom">
                  <div class="swiper-pagination"></div>
                  <div class="swiper-button-pause">
                    <img th:src="@{/asset/icons/ico_pause.svg}" alt="스와이퍼 멈춤버튼">
                  </div>
                  <div class="swiper-button-play">
                    <img th:src="@{/asset/icons/ico_play.svg}" alt="스와이퍼 재생버튼">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]tedu-N7 -->
    <!-- [S]tedu-N8 -->
    <div class="tedu-N8 darkmode" data-bid="dTLxic754f">
      <div class="content-inner">
        <div class="content-container">
          <div class="main-content">
            <div class="title-wrap">
              <h3 class="cont-title">신규 런칭 교육</h3>
            </div>
            <div class="content-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="card-wrap tedu-card-type01 color-type01">
                    <a href="javascript:void(0)">
                      <div class="card-area">
                        <div class="card-text-area">
                          <h2 class="title">디자이너와 개발자를 위한 피그마 초격차 패키지</h2>
                          <p class="text">초보자와 실무자 모두 쉽게 배울 수 있는 노하우를 전수해드립니다!</p>
                        </div>
                        <div class="card-img-area">
                          <div class="profile-box">
                            <img th:src="@{/asset/images/img_profile_01.png}" alt="이미지">
                          </div>
                          <div class="profile-box">
                            <img th:src="@{/asset/images/img_profile_02.png}" alt="이미지">
                          </div>
                          <div class="profile-box profile-num">
                            <span>+1</span>
                          </div>
                        </div>
                      </div>
                    </a>
                    <button type="button" class="ico-bookmark">
                      <em></em>
                      <span>북마크</span>
                    </button>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card-wrap tedu-card-type01 color-type02 badge">
                    <a href="javascript:void(0)">
                      <div class="card-area">
                        <div class="card-text-area">
                          <h2 class="title">한번에 배우는 Adobe Photoshop 기술서 </h2>
                          <p class="text">초보자와 실무자 모두 쉽게 배울 수 있는 노하우를 전수해드립니다!</p>
                        </div>
                        <div class="card-img-area">
                          <div class="profile-box">
                            <img th:src="@{/asset/images/img_profile_03.png}" alt="이미지">
                          </div>
                          <div class="profile-box">
                            <img th:src="@{/asset/images/img_profile_04.png}" alt="이미지">
                          </div>
                          <div class="profile-box profile-num">
                            <span>+6</span>
                          </div>
                        </div>
                      </div>
                    </a>
                    <button type="button" class="ico-bookmark">
                      <em></em>
                      <span>북마크</span>
                    </button>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card-wrap tedu-card-type01 color-type03">
                    <a href="javascript:void(0)">
                      <div class="card-area">
                        <div class="card-text-area">
                          <h2 class="title">콘텐츠 판매자를 위한 마케팅 전략 노하우</h2>
                          <p class="text">초보자와 실무자 모두 쉽게 배울 수 있는 노하우를 전수해드립니다!</p>
                        </div>
                        <div class="card-img-area">
                          <div class="profile-box">
                            <img th:src="@{/asset/images/img_profile_05.png}" alt="이미지">
                          </div>
                          <div class="profile-box">
                            <img th:src="@{/asset/images/img_profile_06.png}" alt="이미지">
                          </div>
                          <div class="profile-box profile-num">
                            <span>+3</span>
                          </div>
                        </div>
                      </div>
                    </a>
                    <button type="button" class="ico-bookmark">
                      <em></em>
                      <span>북마크</span>
                    </button>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card-wrap tedu-card-type01 color-type03 badge">
                    <a href="javascript:void(0)">
                      <div class="card-area">
                        <div class="card-text-area">
                          <h2 class="title">콘텐츠 판매자를 위한 마케팅 전략 노하우</h2>
                          <p class="text">초보자와 실무자 모두 쉽게 배울 수 있는 노하우를 전수해드립니다!</p>
                        </div>
                        <div class="card-img-area">
                          <div class="profile-box">
                            <img th:src="@{/asset/images/img_profile_05.png}" alt="이미지">
                          </div>
                          <div class="profile-box">
                            <img th:src="@{/asset/images/img_profile_06.png}" alt="이미지">
                          </div>
                          <div class="profile-box profile-num">
                            <span>+3</span>
                          </div>
                        </div>
                      </div>
                    </a>
                    <button type="button" class="ico-bookmark">
                      <em></em>
                      <span>북마크</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="control-wrap">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]tedu-N8 -->
    <!-- [S]tedu-N10 -->
    <div class="tedu-N10" data-bid="solxic759o">
      <div class="content-inner">
        <div class="content-container">
          <div class="title-wrap">
            <h3 class="cont-title">베스트셀러</h3>
            <p class="cont-text">이번 주 가장 인기있는 교육을 만나보세요!</p>
          </div>
          <section class="box-wrap">
            <article class="box-area box-type01">
              <div class="box-img-area">
                <div class="img-wrap">
                  <div class="img-box">
                    <img class="card-img card-img-pc" th:src="@{/asset/images/img_N10_pc_01.png}" alt="이미지">
                    <img class="card-img card-img-mo" th:src="@{/asset/images/img_N10_mo_01.png}" alt="모바일이미지">
                  </div>
                </div>
              </div>
              <div class="card-link-area color-type01">
                <a href="javascript:void(0)">
                  <div class="text-wrap">
                    <h4 class="title">
                      <span class="mo-br">한 번에 끝내는 </span>UX / UI 디자인 실무 디자인 패키지 제공
                    </h4>
                    <p class="text">웹페이지는 인터넷 상에서 접근 가능한 웹사이트의 하위 페이지를 말합니다. 즉, 웹사이트는 여러 개의 웹페이지로 구성되어 있습니다.</p>
                  </div>
                  <span class="arrw">
                    <img th:src="@{/asset/icons/ico_next.svg}" alt="화살표 아이콘">
                  </span>
                </a>
              </div>
            </article>
            <article class="box-area box-type02">
              <div class="box-img-area">
                <div class="img-wrap">
                  <div class="img-box">
                    <img class="card-img card-img-pc" th:src="@{/asset/images/img_N10_pc_02.png}" alt="이미지">
                    <img class="card-img card-img-mo" th:src="@{/asset/images/img_N10_mo_02.png}" alt="모바일이미지">
                  </div>
                </div>
              </div>
              <div class="card-link-area color-type02">
                <a href="javascript:void(0)">
                  <div class="text-wrap">
                    <h4 class="title">
                      <span class="pc-br">역대급 가성비 온라인 교육 </span>디자인 툴 마스터 클래스
                    </h4>
                    <p class="text">웹은 무궁무진한 정보와 자료를 제공하고 개인, 기업, 정부, 학교 등 모든 분야에 활용됩니다.</p>
                  </div>
                  <span class="arrw">
                    <img th:src="@{/asset/icons/ico_next.svg}" alt="화살표 아이콘">
                  </span>
                </a>
              </div>
            </article>
          </section>
        </div>
      </div>
    </div>
    <!-- [E]tedu-N10 -->
    <!-- [S]tedu-N12 -->
    <div class="tedu-N12" data-bid="LpLxic75dZ">
      <div class="content-inner">
        <div class="content-container">
          <div class="banner-wrap">
            <a href="javascript:void(0)" class="banner-box">
              <div class="img-wrap">
                <div class="img-box">
                  <img class="banner-bg banner-pc" th:src="@{/asset/images/img_N12_pc.png}" alt="배너">
                  <img class="banner-bg banner-mo" th:src="@{/asset/images/img_N12_mo.png}" alt="모바일배너">
                </div>
              </div>
              <div class="text-box">
                <h2 class="title"> 템하에듀에서 만나는 <br>특별한 카드 혜택! </h2>
                <div class="subtitle"> 선착순 한정 패키지와 프로모션 혜택까지 받을 수 있는 기회 </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]tedu-N12 -->
    <!-- [S]tedu-N15 -->
    <div class="tedu-N15" data-bid="ynlxiC75Mu">
      <div class="content-inner">
        <div class="content-container">
          <div class="main-content">
            <div class="title-wrap">
              <h3 class="cont-title">공지사항</h3>
              <p class="cont-text">템하에듀의 새로운 소식을 전해드립니다!</p>
            </div>
            <div class="content-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="card-wrap tedu-card-type08 ">
                    <a href="javascript:void(0)">
                      <div class="card-area">
                        <div class="card-text-area">
                          <span class="tbox">공지사항</span>
                          <h4 class="title">템하에듀 운영 정책 업데이트 및 사이트 런칭 안내 (23.10.01)</h4>
                          <p class="date">2023.10.01(일)</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card-wrap tedu-card-type08 ">
                    <a href="javascript:void(0)">
                      <div class="card-area">
                        <div class="card-text-area">
                          <span class="tbox">이벤트</span>
                          <h4 class="title">플랫폼 서비스 만족도 조사 1위 기념 혜택 제공!</h4>
                          <p class="date">2023.10.01(일)</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card-wrap tedu-card-type08 ">
                    <a href="javascript:void(0)">
                      <div class="card-area">
                        <div class="card-text-area">
                          <span class="tbox">공지사항</span>
                          <h4 class="title">템하에듀 운영 정책 업데이트 안내 (23.09.01)</h4>
                          <p class="date">2023.10.01(일)</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card-wrap tedu-card-type08 ">
                    <a href="javascript:void(0)">
                      <div class="card-area">
                        <div class="card-text-area">
                          <span class="tbox">공지사항</span>
                          <h4 class="title">템하에듀 운영 정책 업데이트 및 사이트 런칭 안내 (23.10.01)</h4>
                          <p class="date">2023.10.01(일)</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="control-wrap">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]tedu-N15 -->
  </main>
  <div class="tedu-N17" data-bid="fjlxiC75U0">
    <th:block th:replace="~{common/footer :: footer-fragment}"></th:block>
  </div>
  <th:block th:replace="~{common/footer-down :: footer-js-fragment}"></th:block>
</body>