/* VIP 섹션의 컨테이너 스타일 */
.vip-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* VIP 등급 스타일 */
.vip-tier {
    padding: 35px 40px;
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}


/* VIP 등급의 텍스트 스타일 */
.vip-tier h3 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.vip-tier p {
    margin: 5px 0 0;
    color: #666;
}

/* VIP 막대기 스타일 */
.vip-bar-container {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #eee;
    border-radius: 15px;
    margin-top: 10px;
}

.vip-bar {
    position: absolute;
    height: 100%;
    border-radius: 15px;
    /*background-color: #c0c0c0;*/
    background-color: #ffd700; /* 노란색 */
}

/*.vip-star-marker {
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
    font-size: 1.8em;
    color: #ccc;
}*/
.vip-star-marker {
    position: relative;
    font-size: 1.8em;
    BOTTOM: 8%;
    color: rgba(229, 229, 229, 0.82);
}


.vip-star-marker.filled {
    color: #ffd700;
}

/* VIP 등급 라벨 스타일 */
.vip-tier-labels {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.vip-tier-label {
    position: absolute;
    transform: translateX(-50%);
    font-size: 0.8em;
    color: #666;
}

/* VIP 별 스타일 */
.vip-stars {
    /*display: flex;*/
    justify-content: space-between;
}

.vip-star {
    font-size: 1.8em;
    color: #ccc;
}

.vip-star.filled {
    color: #ffd700;
}

/* Bronze 별표 색상 설정 */
.vip-star-marker.bronze.active {
    color: #cf7d4e;
}

/* Silver 별표 색상 설정 */
.vip-star-marker.silver.active {
    color: #bec2c9;
}

/* Gold 별표 색상 설정 */
.vip-star-marker.gold.active {
    color: #ecc43a;
}

/* Platinum 별표 색상 설정 */
.vip-star-marker.platinum.active {
    color: #0a577c;
}

/* VIP 혜택 목록 스타일 */
.vip-benefits {
    list-style: none;
    padding: 0;
}

.vip-benefits li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.vip-benefits li:before {
    content: "\2713"; /* 체크 표시 */
    position: absolute;
    left: 0;
    color: #ffcc00;
}

/* 버튼 스타일 */
.vip-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5a6783;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.vip-button:hover {
    background-color: #454e63;
}

.step-b, .step-s, .step-g, .step-p {
    position: absolute;
    width: 33px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 1.5px solid;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.step-b {
    border-color: #cf7d4e;
}

.step-s {
    border-color: #bec2c9;
}

.step-g {
    border-color: #ecc43a;
}

.step-p {
    border-color: #0a577c;
}

