body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.background {
    background-image: url('../common/images/back_img.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer-background {
    background-image: url('../common/images/FAQ.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flight-background {
    background-image: url('../common/images/back_img.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.changeImg {
    cursor:pointer;
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

#origin, #search-origin {
    background-image: url("../asset/icons/origin.svg");
    background-position: 13px center;
    background-size: 30px;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    padding: 5px 5px;
    text-indent: 50px;
    height: 60px;
}

#destination, #search-destination {
    background-image: url("../asset/icons/destination.svg");
    background-position: 13px center;
    background-size: 30px;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    padding: 5px 5px;
    text-indent: 50px;
    height: 60px;
}

#depDate, #searchDepDate {
    background-image: url("../asset/icons/dep.svg");
    background-position: 13px center;
    background-size: 30px;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    padding: 5px 5px;
    text-indent: 50px;
    height: 60px;
    cursor: pointer;
}

#combDate, #searchCombDate {
    background-image: url("../asset/icons/comb.svg");
    background-position: 13px center;
    background-size: 30px;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    padding: 5px 5px;
    text-indent: 50px;
    height: 60px;
    cursor: pointer;
}

#peopleAndClass, #searchPeopleAndClass {
    background-image: url("../asset/icons/airplanec.svg");
    background-position: 13px center;
    background-size: 30px;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    padding: 5px 5px;
    text-indent: 50px;
    height: 60px;
    cursor: pointer;
}

.search-form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: stretch;
    width: 100%;
    max-width: 900px;
}

.flight-search-form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: stretch;
    width: 100%;
    max-width: 1400px;
}

.search-list {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    gap: 20px;
    width: 1500px;
    max-height: 95%;
    overflow: auto;
}

.search-form .input-group {
    display: flex;
    gap: 20px;
}

.search-form input[type="text"], .search-form input[type="date"], .search-form select {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    width: 100%;
}

.date-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.date-picker span {
    font-size: 14px;
    color: #777;
    margin-top: 5px;
}

.search-form button {
    width: 20%;
    padding: 15px 30px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
}

.search-form button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .search-form {
        width: 90%;
        padding: 20px;
    }

    .search-form .input-group {
        flex-direction: column;
        gap: 10px;
    }

    .search-form input[type="text"], .search-form input[type="date"], .search-form select {
        font-size: 16px;
    }

    .search-form button {
        width: 100%;
        font-size: 16px;
    }
    #footer{
        display: none;
    }
}

.changeOrgDes {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 130%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 700px;
    height: 30%;
    overflow-y: auto;
    position: relative;
}

.flight-search-cont {
    background-color: cadetblue;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 1500px;
    height: 40%;
    overflow-y: auto;
    position: relative;
}

#peopleSubmitBtn, .faq-submit {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: auto;
    padding: 15px 30px;
    border: none;
    background-color: black;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap; /* 줄 바꿈 설정 */
    justify-content: center;
    align-items: flex-start; /* 상단 정렬 */
    gap: 20px; /* 간격 설정 */
    padding: 20px; /* 바깥 여백 설정 */
}
.card {
    width: 100%; /* 카드의 너비 설정 */
    max-width: 1000px; /* 최대 너비 설정 */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px; /* 아래쪽 여백 설정 */
}

.chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.card-admin {
    width: 500px;
    max-width: 1000px;
    height : 50%;
    background-color: #fff;
    border: 2px solid rgba(195, 9, 9, 0.6);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 20px;
}

.card-qna {
    width: 1000px;
    max-width: 1000px;
    height : 50%;
    background-color: #fff;
    border: 2px solid rgba(195, 9, 9, 0.6);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 20px;
}

.card-body {
    padding: 20px;
}

.chart-card-body {
    display: flex;
}

.card-title {
    font-weight: bold;
}

.hidden {
    display: none;
}

.tog-body {
    display: none;
}

#dep-shang, #dep-xia, #comb-shang, #comb-xia, #search-dep-shang, #search-dep-xia, #search-comb-shang, #search-comb-xia {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

#dep-wrapper {
    background: #fff;
    width: 450px;
    border-radius: 10px;
    padding: 25px;
    border: 1px solid black;
    position: absolute;
    top: 69%; /* 입력 필드 바로 아래에 위치 */
    left: 28%;
    z-index: 10;
}

#comb-wrapper {
    background: #fff;
    width: 450px;
    border-radius: 10px;
    padding: 25px;
    border: 1px solid black;
    position: absolute;
    top: 69%; /* 입력 필드 바로 아래에 위치 */
    left: 43%;
    z-index: 10;
}

#search-dep-wrapper {
    background: #fff;
    width: 450px;
    border-radius: 10px;
    padding: 25px;
    border: 1px solid black;
    position: absolute;
    top: 62%; /* 입력 필드 바로 아래에 위치 */
    left: 3.5%;
    z-index: 10;
}

#search-comb-wrapper {
    background: #fff;
    width: 450px;
    border-radius: 10px;
    padding: 25px;
    border: 1px solid black;
    position: absolute;
    top: 62%; /* 입력 필드 바로 아래에 위치 */
    left: 49.5%;
    z-index: 10;
}

.search-cont-title {
    border-bottom: black;
    display: flex;
}

#searchTo {
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 30px;
    height: 30px;
}

.search-value-button {
    background-color: white;
    border: 1px solid dimgray;
    border-radius: 20px;
    transition: background-color 0.3s, border-color 0.3s;
    width: 100px;
    height: 40px;
    font-size: 13px;
    font-weight: bold;
    margin-left: auto;
}

#dep-wrapper #dep-nav, #comb-wrapper #comb-nav, #search-dep-wrapper #search-dep-nav, #search-comb-wrapper #search-comb-nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

#dep-wrapper #dep-nav #dep-currentDate, #comb-wrapper #comb-nav #comb-currentDate,
#search-dep-wrapper #search-dep-nav #search-dep-currentDate, #search-comb-wrapper #search-comb-nav #search-comb-currentDate {
    font-size: 24px;
    font-weight: 600;
}

#dep-wrapper #dep-nav button, #comb-wrapper #comb-nav button,
#search-dep-wrapper #search-dep-nav button, #search-comb-wrapper #search-comb-nav button {
    width: 38px;
    height: 38px;
    font-size: 30px;
    color: #878787
}

#dep-calendar ul, #comb-calendar ul, #search-dep-calendar ul, #search-comb-calendar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

#dep-calendar #dep-weeks li, #comb-calendar #comb-weeks li,
#search-dep-calendar #search-dep-weeks li, #search-comb-calendar #search-comb-weeks li {
    font-weight: 500;
}

#dep-calendar #dep-days, #comb-calendar #comb-days,
#search-dep-calendar #search-dep-days, #search-comb-calendar #search-comb-days {
    margin-bottom: 20px;
}

#dep-calendar ul li, #comb-calendar ul li, #search-dep-calendar ul li, #search-comb-calendar ul li {
    width: calc(100% / 7);
    position: relative;
}

#dep-calendar #dep-days li, #comb-calendar #comb-days li, #search-dep-calendar #search-dep-days li, #search-comb-calendar #search-comb-days li {
    z-index: 1;
    margin-top: 30px;
    cursor: pointer;
}

.inactive {
    color: #aaa;
}

#dep-active, #comb-active, #search-dep-active, #search-comb-active {
    background: skyblue;
    color: white;
    font-weight: 600;
    border-radius: 40%;
}

#dep-calendar #dep-days li::before, #comb-calendar #comb-days li::before,
#search-dep-calendar #search-dep-days li::before, #search-comb-calendar #search-comb-days li::before {
    position: absolute;
    content: '';
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
}

.radio-group {
    display: flex;
    gap: 15px;
}

.custom-radio {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.custom-radio input[type="radio"] {
    position: absolute;
    opacity: 0; /* 기본 라디오 버튼 숨기기 */
    cursor: pointer;
}

.button-style {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid dimgray;
    border-radius: 20px;
    transition: background-color 0.3s, border-color 0.3s;
}

.faq-button-style {
    display: inline-block;
    width: 20%;
    padding: 10px 20px;
    margin: auto;
    background-color: white;
    border: 1px solid dimgray;
    border-radius: 20px;
    transition: background-color 0.3s, border-color 0.3s;
}

.button-style:hover, .faq-button-style:hover, .search-value-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.custom-radio input[type="radio"]:checked + .button-style {
    background-color: rgba(0, 86, 179, 0.2);
    border: 2px solid #0056b3;
    color: #0056b3;
    font-weight: bold;
    box-shadow: 1px 1px 3px #4e5968;
}

.custom-radio input[type="radio"]:not(:checked) + .button-style:hover {
    background-color: rgba(0, 86, 179, 0.2);
}

input[type="checkbox"] {
    /* 기본 체크박스 숨기기 */
    display: none;
}

input[type="checkbox"] + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
}

input[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 3px;
}

input[type="checkbox"]:checked + label:before {
    background-color: white;
    border-color: #007bff;
}

input[type="checkbox"]:checked + label {
    color: #007bff;
}

input[type="checkbox"]:checked + label:after {
    content: "";
    position: absolute;
    left: 7px;
    top: 2px;
    width: 10px;
    height: 15px;
    border: solid #007bff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.separator {
    display: inline-block;
    width: 100px; /* 가로줄의 길이를 조정 */
    border: none; /* 기본 테두리 제거 */
    border-top: 3px solid red; /* 상단 테두리로 가로줄을 만듦 */
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    vertical-align: middle; /* 텍스트와 세로로 가운데 정렬 */
}

.durContainer {
    display: flex;
    align-items: center;
    margin: 30px 0;
    border-radius: 5px;
}

.segContainer {
    display: flex;
    align-items: center;
    margin: 10px;
}

.spinner {
    border: 4px solid royalblue; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    display: inline-block;
    margin-left: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.flight-price {
    padding-left: 20px;
    padding-right: 30px;
    font-weight: bold;
    font-size: 20px;
    color: red;
}

.airlineImg {
    padding-right: 20px;
}

.seg1 {
    margin: 10px 20px;
    padding-left: 0;
    width: 200px;
    height: 100%;
    max-height: 250px;
    border-right: 5px solid gray;
}

.seg2 {
    width: 200px;
    height: 100%;
    max-height: 250px;
}

.sg2 {
    margin: 10px 0;
}

.sgTime {
    font-size: 20px;
    font-weight: bold;
}

.sgDay {
    font-size: 13px;
}

.dv1 {
    padding-right: 30px;
}

.dv2 {
    padding-left: 30px;
    border-left: 5px solid royalblue;
}

.tog-body {
    font-size: 13px;
}

.faq-list, .qna-list, .admin-main {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: stretch;
    width: 100%;
    max-width: 1500px;
    max-height: 90%;
    overflow: auto;
}

.faq-list input[type="text"], .adminQNATitle {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    width: 100%;
}

.faq-list textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    width: 100%;
    resize: none;
}

.acc {
    border: 1px solid black;
    margin-bottom: 30px;
    border-radius: 10px;
    max-height: 300px;
}

.acc:hover {
    border: 1px solid rgba(36, 90, 249, 0.5);
    box-shadow: 3px 3px 1px gray;
}

.faq-acc {
    position: relative;
    padding-right: 30px;
    padding-top: 10px;
    cursor: pointer;
    height: 50px;
}

.faq-acc-panel {
    display: none;
    padding-left: 10px;
    padding-bottom: 10px;
}

.faq-acc-rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.accBtn {
    transition: transform 0.3s ease;
    position: absolute;
    right: 10px;
    top: 4px;
    cursor: pointer;
}

.faq-title {
    padding-left: 10px;
}

.faq-title-open {
    font-weight: bold;
    color: rgba(36, 65, 249, 0.8);
}

#qnaTbody tr:nth-child(even) {
    background-color: rgba(191, 218, 248, 0.5);
}

.qna-insert-list {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: stretch;
    width: 100%;
    max-width: 1000px;
    max-height: 700px;
    overflow: auto;
}

.qna-insert-btn {
    width: 10%;
    padding: 15px 30px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}

.qna-insert-btn:hover {
    background-color: #0056b3;
}

.qna-insert-list textarea, .adminAnswerCont, .adminQNACont {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    width: 100%;
    resize: none;
}

.qna-label {
    margin-bottom: 10px;
}

.qna-list table tbody tr:hover {
    background-color: rgba(78, 78, 193, 0.1);
}

.th1 {
    width: 50%;
}

.th2 {
    width: 20%;
}

.th3 {
    width: 15%;
}

.go-qna-cont {
    color: blue;
    font-style: italic;
}

.go-qna-cont:hover {
    text-decoration: underline;
}

.page-wrapper {
    display: flex;
    margin: auto;
}

.pagingImg {
    width: 20px;
    height: 20px;
}

.page-wrapper a {
    margin: 0 10px;
}

.pag-now {
    font-weight: bold;
}

.qna-cont-label {
    margin-bottom: 10px;
    cursor: default;
}

.qna-ta {
    cursor: default;
}

.button-wrapper {
    align-self: center;
    width: 100%;
    display: flex;
}

.qna-button {
    display: inline-block;
    width: 150px;
    max-width: 4000px;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: white;
    border: 1px solid dimgray;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.qna-button:hover, .qnaBtn:hover {
    border: 2px solid royalblue;
    background-color: rgba(0, 86, 179, 0.5);
    color: white;
}

.titleImg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.waitAnswer {
    background-color: black;
    color: white;
    font-size: 13px;
    padding: 10px;
    border-radius: 10px;
}

.finAnswer {
    background-color: green;
    color: white;
    font-size: 13px;
    padding: 10px;
    border-radius: 10px;
}

.qnaBtn {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: white;
    border: 1px solid dimgray;
    border-radius: 20px;
    font-size: 13px;
    transition: background-color 0.3s;
}

.qnaBtn-disable {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: gray;
    border: 1px solid dimgray;
    border-radius: 20px;
    font-size: 13px;
    cursor: default;
}

.memberBtn {
    display: inline-block;
    width: 100px;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: white;
    border: 1px solid dimgray;
    border-radius: 20px;
    font-size: 13px;
    transition: background-color 0.3s;
}

.memberBtn:hover {
    border: 2px solid gray;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}