<!-- 이 코드를 복붙해서 사용해주세요 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{common/head-top :: head-top-fragment}"><title>감자팀</title></head>
<link rel="stylesheet" th:href="@{/jhm/jhm.css}">
<body>
<div th:replace="~{common/head :: head-fragment}"></div>

<main class="th-layout-main ">

    <div class="customer-background">
        <div class="qna-list">
            <div class="title-wrap">
                <h3 class="cont-title">Q&A</h3>
            </div>

            <table th:if="${qList.size() == 0}">
                <tr>
                    <td colspan="4" th:align="center"><h3>Q&A 게시판의 내용이 없습니다.</h3></td>
                </tr>
            </table>

            <table th:if="${qList.size() != 0}">
                <thead>
                    <tr>
                        <th class="th1">제목</th>
                        <th class="th2">ID</th>
                        <th class="th3">상태</th>
                        <th class="th3">등록일</th>
                    </tr>
                </thead>
                <tbody id="qnaTbody">
                    <tr th:each="qna : ${qList}">
                        <td th:attr="colspan=${(qna.memberId != ID && !Role.equals('ADMIN')) || qna.status == 2} ? 4 : 1">
                            <span th:if="${(qna.memberId == ID || Role.equals('ADMIN')) && qna.status != 2}">
                                <a th:href="|qna_content?no=${qna.num}&page=${paging.page}|" th:text="${qna.title}" class="go-qna-cont"></a>
                            </span>
                            <span th:if="${(qna.memberId == ID || Role.equals('ADMIN')) && qna.status == 2}">&nbsp;&nbsp;&nbsp;<img th:src="@{/asset/icons/arrow-down-left.svg}" class="titleImg" alt="화살표표">
                                <a th:href="|qna_content?no=${qna.num}&page=${paging.page}|" th:text="${qna.title}" class="go-qna-cont"></a>
                            </span>
                            <span th:if="${qna.memberId != ID && !Role.equals('ADMIN')}"><img th:src="@{/asset/icons/lock.svg}" class="titleImg" alt="자물쇠">비밀글입니다.</span>
                        </td>
                        <td th:if="${(qna.memberId == ID || Role.equals('ADMIN')) && qna.status != 2}">
                            <span th:text="${qna.memberId}"></span>
                        </td>
                        <td th:if="${(qna.memberId == ID || Role.equals('ADMIN')) && qna.status != 2}">
                            <span th:if="${qna.status == 0}" th:text="답변대기" class="waitAnswer"></span>
                            <span th:if="${qna.status == 1}" th:text="답변완료" class="finAnswer"></span>
                        </td>
                        <td th:if="${(qna.memberId == ID || Role.equals('ADMIN')) && qna.status != 2}">
                            <span th:text="${qna.createdAt.toString().substring(5, 10)}"></span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- 페이징 처리 -->
            <div class="page-wrapper">
                <div th:if="${paging.page > paging.block}">
                    <a th:href="|qna?page=1|"><span><b>[처음으로]</b></span></a>
                    <a th:href="|qna?page=${paging.startBlock -1}|"><img th:src="@{/asset/icons/preBlock.svg}" alt="이전 블록" class="pagingImg"></a>
                </div>

                <div>
                    <a th:if="${paging.page > 1}" th:href="|qna?page=${paging.page - 1}|"><img th:src="@{/asset/icons/prePage.svg}" alt="이전 페이지" class="pagingImg"></a>
                    <a th:each="pag : ${pagList}" th:href="|qna?page=${pag}|" class="pag-list">
                        <span th:text="${pag}" th:classappend="${pag == paging.page} ? 'pag-now' : ''"></span>
                    </a>
                    <a th:if="${paging.page < paging.allPage}" th:href="|qna?page=${paging.page + 1}|"><img th:src="@{/asset/icons/nextPage.svg}" alt="다음 페이지" class="pagingImg"></a>
                </div>

                <div th:if="${paging.endBlock < paging.allPage}">
                    <a th:href="|qna?page=${paging.endBlock +1}|"><img th:src="@{/asset/icons/nextBlock.svg}" alt="다음 블록" class="pagingImg"></a>
                    <a th:href="|qna?page=${paging.allPage}|"><span><b>[끝으로]</b></span></a>
                </div>
            </div>

            <button type="button" class="qna-insert-btn" onclick="location.href='insert_qna'">질문하기</button>
        </div>

    </div>

</main>
<div class="tedu-N17" data-bid="fjlxiC75U0">
    <th:block th:replace="~{common/footer :: footer-fragment}"></th:block>
</div>
<script th:src="@{/jhm/jhm.js}"></script>
<th:block th:replace="~{common/footer-down :: footer-js-fragment}"></th:block>
</body>