<!-- 이 코드를 복붙해서 사용해주세요 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{common/head-top :: head-top-fragment}"><title>감자팀</title></head>
<link rel="stylesheet" th:href="@{/jhm/jhm.css}">
<body>
<div th:replace="~{common/head :: head-fragment}"></div>

<main class="th-layout-main ">

    <div class="background">
        <div class="qna-insert-list">
            <div class="title-wrap">
                <h3 class="cont-title">Question 수정</h3>
            </div>

            <form class="search-form" method="post" action="modify_qna_Ok">
                <input type="hidden" name="page" th:value="${page}">
                <input type="hidden" name="num" th:value="${QNA.num}">
                <div>
                    <label for="qna-new-title" class="qna-label">제목</label>
                    <input type="text" id="qna-new-title" name="title" th:value="${QNA.title}">
                </div>
                <hr>
                <div>
                    <label for="qna-new-cont" class="qna-label">내용</label>
                    <textarea class="faq-cont" id="qna-new-cont" name="cont" rows="7" cols="10">[[${QNA.cont}]]</textarea>
                </div>
                <button type="submit" class="qna-insert-btn">수정하기</button>
            </form>

        </div>

    </div>

</main>
<div class="tedu-N17" data-bid="fjlxiC75U0">
    <th:block th:replace="~{common/footer :: footer-fragment}"></th:block>
</div>
<script th:src="@{/jhm/jhm.js}"></script>
<th:block th:replace="~{common/footer-down :: footer-js-fragment}"></th:block>
</body>