<!-- 이 코드를 복붙해서 사용해주세요 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{common/head-top :: head-top-fragment}"><title>감자팀</title></head>
<link rel="stylesheet" th:href="@{/jhm/jhm.css}">
<body>
<div th:replace="~{common/head :: head-fragment}"></div>

<!-- [E]tedu-N3 -->
<main>
    <!-- [S]tedu-N44 -->
    <div>
        <div class="background">
            <div class="mainWrapper">
                <section class="section">
                    <div>
                        <h3 class="cont-title">항공권 검색</h3>
                    </div>
                    <form method="post" action="/test" class="search-flight-form">
                        <div>
                            <div style="display: flex; align-items: center; justify-content: space-between;">
                                <div><input id="radioset-a-1" name="radioset-a" type="radio" value="true" checked><label for="radioset-a-1"></label><span>  편도</span></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <div><input id="radioset-a-2" name="radioset-a" type="radio" value="false"><label for="radioset-a-2"></label><span>  왕복</span></div>
                                <div style="display: flex; align-items: center; margin-left: auto;">
                                    <div><input id="checkset-t-1" type="checkbox" name="nonStop" value="true"><label for="checkset-t-1"></label><span>  직항만 검색</span></div>
                                </div>
                            </div>
                            <br>
                            <div>
                                <div class="flight-origin">
                                    <p>출발</p>
                                    <div>
                                        <div>
                                            <input type="text" placeholder="출발지 입력" id="origin" name="origin" aria-label="출발">
                                        </div>
                                    </div>
                                </div>

                                &nbsp;&nbsp;&nbsp;
                                <div class="flight-cod">
                                    <button class="changeOrgDes" type="button" aria-label="아이콘" th:onclick="changeTo()">
                                        <img src="/asset/icons/ico_menu.svg" alt="메뉴 아이콘">
                                    </button>
                                </div>
                                &nbsp;&nbsp;&nbsp;

                                <div class="flight-des">
                                    <p>도착</p>
                                    <div>
                                        <div>
                                            <input type="text" placeholder="도착지 입력" id="destination" name="destination" aria-label="도착">
                                        </div>
                                    </div>
                                </div>
                                <div id="originModal" class="modal">
                                    <div class="modal-content">
                                        <span class="close" id="orgClose">&times;</span>
                                        <input name="org" id="modalOrigin">
                                        <hr>
                                        <div id="originModalBody"></div>
                                    </div>
                                </div>
                                <div id="desModal" class="modal">
                                    <div class="modal-content">
                                        <span class="close" id="desClose">&times;</span>
                                        <input name="des" id="modalDes">
                                        <hr>
                                        <div id="desModalBody"></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <fieldset>
                                        <p>가는 날</p>
                                        <div>
                                            <input name="departure" id="depDate" placeholder="YYYY-MM-DD">
                                            <div id="depCalendarContainer" class="hidden">
                                                <div id="dep-wrapper">
                                                    <header>
                                                        <div id="dep-nav">
                                                            <button type="button" id="dep-shang">◀</button>
                                                            <p id="dep-currentDate"></p>
                                                            <button type="button" id="dep-xia">▶</button>
                                                        </div>
                                                    </header>
                                                    <div id="dep-calendar">
                                                        <ul id="dep-weeks">
                                                            <li>Sun</li>
                                                            <li>Mon</li>
                                                            <li>Tue</li>
                                                            <li>Wed</li>
                                                            <li>Thu</li>
                                                            <li>Fri</li>
                                                            <li>Sat</li>
                                                        </ul>
                                                        <ul id="dep-days">

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="hidden" id="comb-field">
                                        <p>오는 날</p>
                                        <div>
                                            <input name="comeback" id="combDate" placeholder="YYYY-MM-DD">
                                            <div id="combCalendarContainer" class="hidden">
                                                <div id="comb-wrapper">
                                                    <header>
                                                        <div id="comb-nav">
                                                            <button type="button" id="comb-shang">◀</button>
                                                            <p id="comb-currentDate"></p>
                                                            <button type="button" id="comb-xia">▶</button>
                                                        </div>
                                                    </header>
                                                    <div id="comb-calendar">
                                                        <ul id="comb-weeks">
                                                            <li>Sun</li>
                                                            <li>Mon</li>
                                                            <li>Tue</li>
                                                            <li>Wed</li>
                                                            <li>Thu</li>
                                                            <li>Fri</li>
                                                            <li>Sat</li>
                                                        </ul>
                                                        <ul id="comb-days">

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div>
                                <p>인원</p>
                                <div>
                                    <p>성인</p>
                                    <select name="adults">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                    </select>
                                </div>

                                <div>
                                    <p>아동</p>
                                    <select name="children">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                    </select>
                                </div>

                                <div>
                                    <p>유아</p>
                                    <select name="infants">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <p>좌석</p>
                                    <select name="airplaneClass">
                                        <option value="">좌석 선택[선택사항]</option>
                                        <option value="ECONOMY">이코노미</option>
                                        <option value="PREMIUM_ECONOMY">프리미엄 이코노미</option>
                                        <option value="BUSINESS">비즈니스</option>
                                        <option value="FIRST">퍼스트</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button type="submit">검색</button>
                    </form>
                </section>
            </div>
        </div>
    </div>
    <!-- [E]tedu-N44 -->
</main>
<div class="tedu-N17" data-bid="fjlxiC75U0">
    <th:block th:replace="~{common/footer :: footer-fragment}"></th:block>
</div>
<script th:src="@{/jhm/jhm.js}"></script>
<th:block th:replace="~{common/footer-down :: footer-js-fragment}"></th:block>
</body>