<!-- 이 코드를 복붙해서 사용해주세요 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{common/head-top :: head-top-fragment}"><title>감자팀</title></head>
<body>
<div th:replace="~{common/head :: head-fragment}"></div>

<!-- [E]tedu-N3 -->
<main class="th-layout-main ">
    <!-- [S]tedu-N44 -->
    <div class="tedu-N44" data-bid="LRlXiC74YQ">
        <div class="content-inner">
            <div class="content-container">
                <section class="">
                    <div class="title-wrap">
                        <h3 class="cont-title">항공권 검색</h3>
                    </div>
                    <form method="post" action="/test">
                        <div class="payment-wrap">
                            <div class="radioset-wrap" style="display: flex; align-items: center; justify-content: space-between;">
                                <div class="radioset lightmode"><input id="radioset-a-1" name="radioset-a" class="radioset-input input-line" type="radio" value="" checked=""><label class="radioset-label" for="radioset-a-1"></label><span class="radioset-text" style="background-color: rgb(0, 0, 0); color: rgb(0, 0, 0);">편도</span></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="radioset lightmode"><input id="radioset-a-2" name="radioset-a" class="radioset-input input-line" type="radio" value=""><label class="radioset-label" for="radioset-a-2"></label><span class="radioset-text" style="color: rgb(0, 0, 0);">왕복</span></div>
                                <div class="checkset-wrap" style="display: flex; align-items: center; margin-left: auto;">
                                    <div class="checkset darkmode"><input id="checkset-t-1" class="checkset-input input-round" type="checkbox" name="nonStop" value="true"><label class="checkset-label" for="checkset-t-1"></label><span class="checkset-text" style="color: rgb(0, 0, 0);">직항만 검색</span></div>
                                </div>
                            </div>
                            <br>
                            <div class="payment-area">
                                <div class="payment-cont payment-cont-type2">
                                    <fieldset class="fieldset">
                                        <p class="stitle">출발</p>
                                        <div class="input-group">
                                            <div class="tedu-inputset">
                                                <input type="text" class="tedu-input lightmode" placeholder="출발지 입력" id="origin" name="origin" aria-label="출발">
                                            </div>
                                        </div>
                                    </fieldset>
                                    &nbsp;&nbsp;&nbsp;
                                    <button class="ico_menu btn" type="button" aria-label="아이콘" th:onclick="changeTo()">
                                        <img src="/asset/icons/ico_menu.svg" alt="메뉴 아이콘">
                                    </button>
                                    &nbsp;&nbsp;&nbsp;
                                    <fieldset class="fieldset">
                                        <p class="stitle">도착</p>
                                        <div class="input-group">
                                            <div class="tedu-inputset">
                                                <input type="text" class="tedu-input lightmode" placeholder="도착지 입력" id="destination" name="destination" aria-label="도착">
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div id="originModal" class="modal">
                                        <div class="modal-content">
                                            <span class="close" id="orgClose">&times;</span>
                                            <input name="org" id="modalOrigin">
                                            <hr>
                                            <div id="originModalBody"></div>
                                        </div>
                                    </div>
                                    <div id="desModal" class="modal">
                                        <div class="modal-content">
                                            <span class="close" id="desClose">&times;</span>
                                            <input name="des" id="modalDes">
                                            <hr>
                                            <div id="desModalBody"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="payment-area">
                                <div class="payment-cont payment-cont-type2">
                                    <fieldset class="fieldset">
                                        <p class="stitle">가는 날</p>
                                        <div class="tedu-inputset">
                                            <input class="tedu-input lightmode" type="date" name="departure" id="depDate" placeholder="YYYY-MM-DD">
                                            <div id="depCalendarContainer" class="hidden"></div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="fieldset">
                                        <p class="stitle">오는 날</p>
                                        <div class="tedu-inputset">
                                            <input type="date" name="comeback" class="tedu-input lightmode">
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="payment-area">
                                <p class="stitle">인원</p>
                                <div class="payment-cont payment-cont-type2">
                                    <fieldset class="fieldset">
                                        <p class="stitle">성인</p>
                                        <select class="tedu-input lightmode" name="adults">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                        </select>
                                    </fieldset>

                                    <fieldset class="fieldset" style="margin-left: 10px; margin-right: 10px;">
                                        <p class="stitle">아동</p>
                                        <select class="tedu-input lightmode" name="children">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                        </select>
                                    </fieldset>

                                    <fieldset class="fieldset">
                                        <p class="stitle">유아</p>
                                        <select class="tedu-input lightmode" name="infants">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                        </select>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="payment-area">
                                <div class="payment-cont-type2">
                                    <p class="stitle">좌석</p>
                                    <select class="tedu-input lightmode" name="airplaneClass">
                                        <option value="">좌석 선택[선택사항]</option>
                                        <option value="ECONOMY">이코노미</option>
                                        <option value="PREMIUM_ECONOMY">프리미엄 이코노미</option>
                                        <option value="BUSINESS">비즈니스</option>
                                        <option value="FIRST">퍼스트</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button class="tedu-btn tedu-btn-light" type="submit" style="width: 300px;">검색</button>
                    </form>
                </section>
            </div>
        </div>
    </div>
    <!-- [E]tedu-N44 -->
</main>
<div class="tedu-N17" data-bid="fjlxiC75U0">
    <th:block th:replace="~{common/footer :: footer-fragment}"></th:block>
</div>
<link rel="stylesheet" th:href="@{/jhm/jhm.css}">
<script th:src="@{/jhm/jhm.js}"></script>
<th:block th:replace="~{common/footer-down :: footer-js-fragment}"></th:block>
</body>