<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{common/head-top :: head-top-fragment}"><title>감자팀</title></head>
<body>
<div th:replace="~{common/head :: head-fragment}"></div>

<main>
    <div class="card-wrapper" th:if="${ffvList != null}" th:each="ffv : ${ffvList}">
        <div class="card" th:attr="data-ffv=${ffv}">
            <div class="card-body">
                <input type="hidden" id="ffvId" th:value="${ffv.ffvId}">
                <input type="hidden" id="origin" th:value="${flight.origin}">
                <input type="hidden" id="destination" th:value="${flight.destination}">
                <input type="hidden" id="departure" th:value="${flight.departure}">
                <input type="hidden" id="comeback" th:value="${flight.comeback}">
                <input type="hidden" id="adults" th:value="${flight.adults}">
                <input type="hidden" id="children" th:value="${flight.children}">
                <input type="hidden" id="infants" th:value="${flight.infants}">
                <input type="hidden" id="memberId" th:value="${memberId}">
                <img th:src="${ffv.getApiDurations().get(0).airlineImg}" style="width: 100px; height: 50px;">
                <span th:text="${orgKor}"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span th:text="${desKor}"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span th:text="${#numbers.formatDecimal(ffv.totalPrice, 0, 'COMMA', 0, 'POINT')}"></span>&nbsp;&nbsp;
                <img th:src="@{/asset/images/downarrow.webp}" class="toggleBtn" value="토글" style="width: 20px; height: 20px; cursor: pointer;">
                <div class="tog-body">
                    <div th:each="dur : ${ffv.apiDurations}" style="border: 1px solid black;">
                        <div style="display: inline-block; border: 1px solid black; align-items: center">
                            <img th:src="${dur.airlineImg}" style="width:100px; height: 50px;">
                            <span th:text="${dur.duration}"></span>
                        </div>
                        <div style="display: inline-block;">
                            <div th:each="seg : ${ffv.apiSegments}" th:if="${seg.depOrComb == dur.depOrComb}" style="border: 1px solid black; margin: 30px; padding: 15px;">
                                <div class="seg-dep">
                                    <span th:text="${seg.departureIata}"></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <span th:text="${seg.departureAt}"></span>
                                </div>
                                <br>
                                <div class="seg-etc">
                                    <span th:text="${seg.duration}"></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <span th:text="${seg.carrierCode} + ${seg.carrierNum}"></span>
                                </div>
                                <br>
                                <div class="seg-arv">
                                    <span th:text="${seg.arrivalIata}"></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <span th:text="${seg.arrivalAt}"></span>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <button class="tedu-btn tedu-btn-dark cartBtn">장바구니에 추가</button> <br>
                    <button class="tedu-btn tedu-btn-light">선택하기</button>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${ffvList.size() == 0}">
        <h3>검색결과 없음</h3>
    </div>
</main>

<div class="tedu-N17" data-bid="fjlxiC75U0">
    <th:block th:replace="~{common/footer :: footer-fragment}"></th:block>
</div>
<link rel="stylesheet" th:href="@{/jhm/jhm.css}">
<script th:src="@{/jhm/jhm.js}"></script>
<th:block th:replace="~{common/footer-down :: footer-js-fragment}"></th:block>
</body>
</html>