<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{common/head-top :: head-top-fragment}"><title>감자팀</title></head>
<body>
<div th:replace="~{common/head :: head-fragment}"></div>

<main>
    <div class="flight-background">
        <div class="search-list">
            <div class="title-wrap" style="height: 30px;">
                <h3 class="cont-title" th:text="${orgKor} + '  to  ' + ${desKor}"></h3>
                <button type="button" class="search-value-button">검색 정보</button>
                <div id="flight-search-modal" class="modal">
                    <div class="flight-search-cont">
                        <span class="close" id="flight-close">&times;</span>
                        <br>
                        <hr>
                        <form method="post" action="test" class="search-form flight-search-form">
                            <div class="input-group">
                                <div class="radio-group" style="display: flex; align-items: center; justify-content: space-between;">
                                    <input type="hidden" id="comebackType" th:value="${flight.comeback}">
                                    <label class="custom-radio">
                                        <input name="search-radioset-a" type="radio" value="true" id="oneWay">
                                        <span class="button-style">편도</span>
                                    </label>

                                    <label class="custom-radio">
                                        <input name="search-radioset-a" type="radio" value="false" id="round">
                                        <span class="button-style">왕복</span>
                                    </label>
                                </div>
                                <div style="margin-left: auto;">
                                    <input id="checkbox1" type="checkbox" name="nonStop" value="true" th:checked="${flight.nonStop.equals('true')}">
                                    <label for="checkbox1" style="font-weight: bold;">직항만 검색</label>
                                </div>
                            </div>

                            <div class="input-group">
                                <input type="text" placeholder="출발지 입력" id="search-origin" name="origin" aria-label="출발" autocomplete="off" th:value="${orgKor}">
                                <div id="searchOriginModal" class="modal">
                                    <div class="modal-content">
                                        <span class="close" id="searchOrgClose">&times;</span>
                                        <input name="org" id="searchModalOrigin">
                                        <hr>
                                        <div id="searchOriginModalBody"></div>
                                    </div>
                                </div>
                                <img src="/asset/icons/changed.svg" class="changeImg" th:onclick="searchChangeTo()">
                                <input type="text" placeholder="도착지 입력" id="search-destination" name="destination" aria-label="도착" autocomplete="off" th:value="${desKor}">
                                <div id="search-desModal" class="modal">
                                    <div class="modal-content">
                                        <span class="close" id="desClose">&times;</span>
                                        <input name="des" id="searchModalDes">
                                        <hr>
                                        <div id="searchDesModalBody"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="input-group">
                                <div class="date-picker">
                                    <input type="text" name="departure" id="searchDepDate" placeholder="가는 날" autocomplete="off" th:value="${flight.departure}">
                                    <div id="searchDepCalendarContainer" class="hidden">
                                        <div id="search-dep-wrapper">
                                            <header>
                                                <div id="search-dep-nav">
                                                    <button type="button" id="search-dep-shang">◀</button>
                                                    <p id="search-dep-currentDate"></p>
                                                    <button type="button" id="search-dep-xia">▶</button>
                                                </div>
                                            </header>
                                            <div id="search-dep-calendar">
                                                <ul id="search-dep-weeks">
                                                    <li>Sun</li>
                                                    <li>Mon</li>
                                                    <li>Tue</li>
                                                    <li>Wed</li>
                                                    <li>Thu</li>
                                                    <li>Fri</li>
                                                    <li>Sat</li>
                                                </ul>
                                                <ul id="search-dep-days">

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="search-comb-field" class="date-picker hidden">
                                    <input type="text" name="comeback" id="searchCombDate" placeholder="오는 날" autocomplete="off" th:value="${flight.comeback}">
                                    <div id="searchCombCalendarContainer" class="hidden">
                                        <div id="search-comb-wrapper">
                                            <header>
                                                <div id="search-comb-nav">
                                                    <button type="button" id="search-comb-shang">◀</button>
                                                    <p id="search-comb-currentDate"></p>
                                                    <button type="button" id="search-comb-xia">▶</button>
                                                </div>
                                            </header>
                                            <div id="search-comb-calendar">
                                                <ul id="search-comb-weeks">
                                                    <li>Sun</li>
                                                    <li>Mon</li>
                                                    <li>Tue</li>
                                                    <li>Wed</li>
                                                    <li>Thu</li>
                                                    <li>Fri</li>
                                                    <li>Sat</li>
                                                </ul>
                                                <ul id="search-comb-days">

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="search-person-cnt" class="date-picker">
                                <input type="text" id="searchPeopleAndClass" placeholder="인원 & 좌석" readonly>
                                <div id="searchPeopleModal" class="modal">
                                    <div class="modal-content">
                                        <span class="close" id="searchPeopleClose">&times;</span>
                                        <p>인원</p>
                                        <div class="input-group">
                                            <div>
                                                <input type="hidden" id="search-adults" th:value="${flight.adults}">
                                                <span>성인</span>
                                                <select name="adults">
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                </select>
                                            </div>

                                            <div>
                                                <input type="hidden" id="search-children" th:value="${flight.children}">
                                                <span>아동</span>
                                                <select name="children">
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                </select>
                                            </div>

                                            <div>
                                                <input type="hidden" id="search-infants" th:value="${flight.infants}">
                                                <span>유아</span>
                                                <select name="infants">
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                </select>
                                            </div>
                                        </div>
                                        <hr>
                                        <p>좌석</p>
                                        <br>
                                        <div class="input-group">
                                            <div class="radio-group">
                                                <input type="hidden" th:value="${flight.airplaneClass}" id="search-airplane">
                                                <label class="custom-radio">
                                                    <input name="airplaneClass" id="classNone" type="radio" value="">
                                                    <span class="button-style">선택 안 함</span>
                                                </label>
                                                <label class="custom-radio">
                                                    <input type="radio" name="airplaneClass" id="economy" value="ECONOMY">
                                                    <span class="button-style">이코노미</span>
                                                </label>
                                                <label class="custom-radio">
                                                    <input type="radio" name="airplaneClass" id="premium-economy" value="PREMIUM_ECONOMY">
                                                    <span class="button-style">프리미엄 이코노미</span>
                                                </label>
                                                <label class="custom-radio">
                                                    <input type="radio" name="airplaneClass" id="business" value="BUSINESS">
                                                    <span class="button-style">비지니스</span>
                                                </label>
                                                <label class="custom-radio">
                                                    <input type="radio" name="airplaneClass" id="first" value="FIRST">
                                                    <span class="button-style">퍼스트</span>
                                                </label>
                                            </div>
                                        </div>
                                        <br> <br>
                                        <button type="button" id="searchPeopleSubmitBtn">완료</button>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" id="researchBtn" class="button-style"><span id="re-span">재검색</span> <span id="re-spinner" class="spinner" style="display: none;"></span></button>
                        </form>
                    </div>
                </div>
            </div>
            <hr>
            <div class="card-wrapper" th:if="${ffvList != null}" th:each="ffv : ${ffvList}">
                <div class="card" th:attr="data-ffv=${ffv}">
                    <div class="card-body">
                        <input type="hidden" id="ffvId" th:value="${ffv.ffvId}">
                        <input type="hidden" id="origin" th:value="${flight.origin}">
                        <input type="hidden" id="destination" th:value="${flight.destination}">
                        <input type="hidden" id="departure" th:value="${flight.departure}">
                        <input type="hidden" id="comeback" th:value="${flight.comeback}">
                        <input type="hidden" id="adults" th:value="${flight.adults}">
                        <input type="hidden" id="children" th:value="${flight.children}">
                        <input type="hidden" id="infants" th:value="${flight.infants}">
                        <input type="hidden" id="memberId" th:value="${memberId}">
                        <img class="airlineImg" th:src="${ffv.getApiDurations().get(0).airlineImg}" onerror="this.onerror=null; this.src='/common/images/air.png'" style="width: 100px; height: 50px;">
                        <span th:text="${orgKor}"></span>
                        <div class="separator">
                            <span th:text="${#strings.replace(#strings.replace(#strings.substring(ffv.apiDurations.get(0).duration, 2), 'H', '시간'), 'M', '분')}"></span>
                        </div>
                        <span th:text="${desKor}"></span>
                        <span class="flight-price" th:text="${#numbers.formatDecimal(ffv.totalPrice, 0, 'COMMA', 0, 'POINT')}"></span>
                        <img th:src="@{/asset/images/downarrow.webp}" class="toggleBtn" value="토글" style="width: 20px; height: 20px; cursor: pointer;">
                        <br> <br>
                        <div class="tog-body">
                            <div th:each="dur : ${ffv.apiDurations}" class="durContainer">
                                <div class="dv1">
                                    <span th:text="${#strings.replace(#strings.replace(#strings.substring(dur.duration, 2), 'H', '시간'), 'M', '분')}"></span>
                                </div>
                                <div class="dv2">
                                    <div th:each="seg : ${ffv.apiSegments}" th:if="${seg.depOrComb == dur.depOrComb}" class="segContainer">
                                        <div class="seg1">
                                            <div>
                                                <span th:text="${#strings.arraySplit(#strings.substring(seg.departureAt, 0, seg.departureAt.length()-3), 'T')[1]}" class="sgTime"></span> <br>
                                                <span th:text="${#strings.replace(#strings.substring(#strings.arraySplit(#strings.substring(seg.departureAt, 0, seg.departureAt.length()-3), 'T')[0], 5), '-', '월 ')+'일'}" class="sgDay"></span>
                                            </div>
                                            <div class="sg2">
                                                <span th:text="${#strings.replace(#strings.replace(#strings.substring(seg.duration, 2), 'H', '시간'), 'M', '분')}"></span> <br>
                                            </div>
                                            <div>
                                                <span th:text="${#strings.arraySplit(#strings.substring(seg.arrivalAt, 0, seg.arrivalAt.length()-3), 'T')[1]}" class="sgTime"></span> <br>
                                                <span th:text="${#strings.replace(#strings.substring(#strings.arraySplit(#strings.substring(seg.arrivalAt, 0, seg.arrivalAt.length()-3), 'T')[0], 5), '-', '월 ')+'일'}" class="sgDay"></span>
                                            </div>
                                        </div>
                                        <div class="seg2">
                                            <div>
                                                <span th:text="${seg.departureIata}"></span>
                                            </div>
                                            <div class="sg2">
                                                <span th:text="${seg.carrierCode} + ${seg.carrierNum}"></span> &nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;
                                                <span th:text="${seg.airlineKor} + Airline"></span>
                                            </div>
                                            <div>
                                                <span th:text="${seg.arrivalIata}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br> <br>
                            <button class="button-style cartBtn">장바구니에 추가</button>
                            <button class="button-style goPayBtn">선택하기</button>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${ffvList.size() == 0}">
                <h3>검색결과 없음</h3>
            </div>
        </div>
    </div>
</main>

<div class="tedu-N17" data-bid="fjlxiC75U0">
    <th:block th:replace="~{common/footer :: footer-fragment}"></th:block>
</div>
<link rel="stylesheet" th:href="@{/jhm/jhm.css}">
<script th:src="@{/jhm/jhm.js}"></script>
<script th:src="@{/jhm/searchModal.js}"></script>
<th:block th:replace="~{common/footer-down :: footer-js-fragment}"></th:block>
</body>
</html>