<!-- 이 코드를 복붙해서 사용해주세요 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://js.tosspayments.com/v1/payment-widget"></script>
<link rel="stylesheet" th:href="@{/security/css/reservation.css}">
<head th:replace="~{common/head-top :: head-top-fragment}"><title>감자팀</title></head>
<body>
<div th:replace="~{common/head :: head-fragment}"></div>

<main class="th-layout-main ">
    <!-- [S]tedu-N44 -->
    <div class="tedu-N44" data-bid="GALxi9PyR7">
        <input type="hidden" th:value="${totalPrice}" id="totalPrice">
        <input type="hidden" th:value="${hotelAllCont.size()}" id="count">
        <input type="hidden" th:value="${uuid}" id="UUID">
        <input type="hidden" th:value="${CartUuid}" id="cartuuid">
        <input type="hidden" th:value="${memberId}" id="memId">

        <div class="content-inner">
            <div class="content-container">
                <section class="">
                    <div class="title-wrap">
                        <h3 class="cont-title">호텔</h3>
                    </div>
                    <div class="payment-wrap-ming" style="position: relative; border: 1px solid lightgray; margin-bottom: 30px;">
                        <div class="payment-area">
                            <div class="title">호텔 정보</div>

                            <div class="payment-cont payment-cont-type2" th:each="hotel : ${hotelAllCont}" style="display: contents" align="center">
                                <div class="group-ming">
                                    <img th:src="${hotel.getHotelObj().getSampleImage()}" alt="이미지" style="width: 400px; height: 250px;">
                                    <div class="info">
                                        <div class="title" id="hotelName" th:text="${hotel.getHotelObj().getHotelName()}"></div>
                                        <hr width="400px">
                                        <p class="text" th:text="'투숙인원 : '+${hotel.getOfferObj().getAdultCnt()}+' 명'" style="font-weight: bold;"></p>
                                        <p class="text" th:text="'체크인 : '+${hotel.getOfferObj().getCheckIn()}+' 15:00 '" style="font-weight: bold;"></p>
                                        <p class="text" th:text="'체크아웃 : '+${hotel.getOfferObj().getCheckOut()}+' 11:00 '" style="font-weight: bold;"></p>
                                    </div>
                                </div>


                                <div class="price-info-wrap" th:if="${hotelAllCont.size() != 1}">
                                    <div class="price-area price-total">
                                        <span th:text="'금액'">금액</span>
                                        <strong th:text="${#numbers.formatInteger(hotel.getOfferObj().getTotalCost(), 3, 'COMMA') + '원'}"></strong>
                                    </div>
                                </div>
                            </div>

                            <div class="price-info-wrap">
                                <div class="price-area price-total">
                                    <span th:text="'총계'">결제 금액</span>
                                    <strong th:text="${#numbers.formatInteger(totalPrice, 3, 'COMMA') + '원'}"></strong>
                                </div>
                            </div>

                            <div class="price-info-wrap">
                                <div class="price-area price-total">
                                </div>
                            </div>

                            <div class="title">연락처 정보</div>
                            <div class="payment-cont payment-cont-type2">

                                <fieldset class="fieldset">
                                    <p class="stitle">영문 이름(First Name)</p>
                                    <div class="input-group">
                                        <!--<div class="tedu-input lightmode" th:if="${allPayment.size() > 0}" th:text="${.get(0).getCallFirstName()}"  id="callFirstName"></div>-->
                                        <input type="text" id="callFirstName" name="callFirstName" class="tedu-input lightmode" placeholder="영문 이름(First Name)" aria-label="영문 이름(First Name)">
                                    </div>
                                </fieldset>

                                <fieldset class="fieldset">
                                    <p class="stitle">영문 성(Last Name)</p>
                                    <div class="input-group">
                                        <input type="text" id="callLastName" name="callLastName" class="tedu-input lightmode" placeholder="영문 성(Last Name)" aria-label="영문 성(Last Name)">
                                    </div>
                                </fieldset>
                            </div>

                            <fieldset class="fieldset" style="margin-top: 30px;">
                                <legend class="legend">이메일</legend>
                                <div class="tedu-inputset">
                                    <input type="text" id="callEmail" name="callEmail" class="tedu-input lightmode" placeholder="your@email.com" aria-label="내용">
                                </div>
                            </fieldset>

                            <div class="payment-cont payment-cont-type2">

                                <fieldset class="fieldset" style="margin-top: 30px;">
                                    <legend class="legend">전화번호 (선택사항)</legend>
                                    <div class="input-group flex-style">
                                        <div class="tedu-inputset">
                                            <input id="phone"  name="phone" class="tedu-input lightmode">
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset class="fieldset" style="margin-top: 30px;">
                                    <legend class="legend">거주 국가 / 지역</legend>
                                    <div class="input-group">
                                        <select class="form-select form-select-lg mb-3" id="country" name="country">
                                            <th:block th:each="country : ${country}">
                                                <option th:text="${country}" th:value="${country}" ></option>
                                            </th:block>
                                        </select>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>
   <!-- <div class="tedu-N45 reservation" data-bid="WmLXi9pyUS">
        <div class="content-container">
            <div class="sidebar">
                <div class="pay-info-warp" th:each="hotel : ${hotelAllCont}" style="display: contents" align="center">
                    <div class="text-area" style="padding:30px 30px 30px 30px; margin-bottom: 20px; border: lightgray solid 1px; border-radius: 15px;" align="center">
                        <div class="title" id="hotelName" th:text="${hotel.getHotelObj().getHotelName()}"></div>
                        <hr width="90%">
                        <p class="text" th:text="'투숙인원 : '+${hotel.getOfferObj().getAdultCnt()}+' 명'"></p>
                        <p class="text" th:text="${hotel.getOfferObj().getCheckIn()}+'~'+${hotel.getOfferObj().getCheckOut()}"></p>
                        <img th:src="${hotel.getHotelObj().getSampleImage()}" alt="이미지" style="width: 150px; height: 120px;">
                        <div class="title" th:text="${#numbers.formatInteger(hotel.getOfferObj().getTotalCost(), 3, 'COMMA') + '원'}"></div>
                        <hr width="70%">
                    </div>
                </div>

                <div class="price-info-wrap">
                    <div class="price-area price-total">
                        <span th:text="'총계'">결제 금액</span>
                        <strong th:text="${#numbers.formatInteger(totalPrice, 3, 'COMMA') + '원'}"></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- [E]tedu-N45 -->
</main>
<div class="tedu-N17" data-bid="fjlxiC75U0">
    <th:block th:replace="~{common/footer :: footer-fragment}"></th:block>
</div>
<th:block th:replace="~{common/footer-down :: footer-js-fragment}"></th:block>
</body>