<!-- 이 코드를 복붙해서 사용해주세요 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://js.tosspayments.com/v1/payment-widget"></script>
<head th:replace="~{common/head-top :: head-top-fragment}"><title>감자팀</title></head>
<body>
<div th:replace="~{common/head :: head-fragment}"></div>

<!-- [E]tedu-N3 -->
<main class="th-layout-main ">
  <input type="hidden" th:value="${payment.getCallEmail()}" id="email">
  <input type="hidden" th:value="${memberId}" id="memberId">
  <input type="hidden" th:value="${airInfo.get(0).getTotalPrice()}" id="airPrice">
  <input type="hidden" th:value="'놀러감 항공권 '+${airInfo.get(0).getOrigin()} + ' -> ' + ${airInfo.get(0).getDestination()}" id="airName">
  <input type="hidden" th:value="${UUID}" id="UUID">
  <input type="hidden" th:value="${key}" id="airKey">
  <input type="hidden" th:value="${payment.getCallNumber()}" id="customerPhone">
  <!-- [S]tedu-N44 -->
  <div class="tedu-N44" data-bid="GALxi9PyR7">
    <div class="content-inner">
      <div class="content-container">
        <section class="">
          <div class="title-wrap">
            <h3 class="cont-title">결제하기</h3>
          </div>
          <div class="payment-wrap">
            <div class="payment-area">
              <div class="payment-cont">
                <fieldset class="fieldset">
                  <p class="title" style="margin-bottom: 8px;">연락처 정보</p>
                  <div class="input-group">
                    <div class="tedu-inputset">
                      <img th:src="@{/common/images/callHuman.png}" style="width: 18px;">
                      <legend class="stitle" th:text="${payment.getCallFirstName()}+' '+${payment.getCallLastName()}"></legend>
                    </div>
                  </div>
                  <p class="desc" th:text="${payment.getCallEmail()}"></p>
                  <p class="desc" th:text="${payment.getCallCountry()}+${payment.getCallNumber()}" style="margin-bottom: 40px;"></p>
                </fieldset>

                <fieldset class="fieldset">
                    <p class="title" style="margin-bottom: 8px;">탑승객 정보</p>
                    <th:block th:each="i, iterStat : ${#numbers.sequence(0, payment.rideFirstName.length - 1)}">
                      <div class="input-group">
                        <div class="tedu-inputset">
                          <img th:src="@{/common/images/human.png}" style="width: 26px;">
                          <legend class="stitle" th:text="${payment.rideFirstName[i]} + ' ' + ${payment.rideLastName[i]}"></legend>
                        </div>
                      </div>
                      <p class="desc" th:text="'여권번호: ' + ${payment.ridePassport[i]}" style="margin-bottom: 20px;"></p>
                    </th:block>
                  </fieldset>
              </div>
            </div>
            <div class="payment-area">
              <div class="title">쿠폰 선택</div>
              <fieldset class="fieldset" style="margin-top: 30px;">
                <legend class="legend">보유중인 쿠폰</legend>
                <div class="input-group">
                  <select class="form-select form-select-lg mb-3"  id="coupon-box" onchange="couponPrice()">
                    <option selected value="noneCoupon">선택 안함</option>
                    <option value="openCoupon">놀러감 오픈기념 5,000원 할인 쿠폰</option>
                  </select>
                </div>
              </fieldset>
            </div>
            <div class="payment-area">
              <div class="title">결제수단선택</div>
              <!-- 결제 UI, 이용약관 UI 영역 -->
              <div id="payment-method"></div>
              <div id="agreement"></div>
              <button type="button" class="tedu-btn tedu-btn-light add-cart" id="payment-button">결제하기</button>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- [S]tedu-N45 -->
  <div class="tedu-N45" data-bid="WmLXi9pyUS">
    <div class="content-container">
      <div class="sidebar">
        <div class="title-wrap">
          <h3 class="title">결제 상품 정보</h3>
        </div>
        <div class="pay-info-warp" th:each="info : ${airInfo}">
          <div class="text-area">
            <div class="title" th:text="${info.getOrigin()} + ' -> ' + ${info.getDestination()}+
                          '/탑승객 '+${info.getAdults()+info.getChildren()+info.getInfants()}+' 명'" th:value="${info.getOrigin()} + ' -> ' + ${info.getDestination()}"></div>
            <p class="text" id="airTime" th:text="${info.getDeparture().toString().substring(5,10)} + ' ~ ' + ${info.getComeback().toString().substring(5,10)}"></p>
          </div>
        </div>

        <div class="card-wrapper">
          <div class="card" th:each="dep : ${DepDur}">
            <div class="card-body">
              <img th:src="${dep.getAirlineImg()}" alt="이미지" style="width: 100px; height: 50px;">
              <p th:text="'가는편 여정 상세보기'"></p>
              <img th:src="@{/asset/images/downarrow.webp}" class="toggleBtn" value="토글" style="width: 20px; height: 20px; cursor: pointer;">

              <div class="tog-body" th:each="dep, iterStat : ${segDep}">
                <legend class="text" th:text="'가는편 여정 '+${iterStat.index+1}"></legend>
                <legend class="legend" th:text="${dep.getDepartureIata()} +' -> '+ ${dep.getArrivalIata()}"></legend>
                <legend class="legend" th:text="${dep.getDepartureAt().substring(5,10)}+'  '+${dep.getDepartureAt().substring(11,16)}+' - '+
                                 ${dep.getArrivalAt().substring(5,10)}+'  '+${dep.getArrivalAt().substring(11,16)}"></legend>
                <legend class="legend" th:text="'총 소요시간 : ' + ${dep.getDuration().substring(2)}" style="margin-bottom: 25px;"></legend>
              </div>
            </div>
          </div>
        </div>

        <div class="card-wrapper">
          <div class="card" th:each="comb : ${CombDur}">
            <div class="card-body">
              <img th:src="${comb.getAirlineImg()}" alt="이미지" style="width: 100px; height: 50px;">
              <p th:text="'오는편 여정 상세보기'"></p>
              <img th:src="@{/asset/images/downarrow.webp}" class="toggleBtn" value="토글" style="width: 20px; height: 20px; cursor: pointer;">

              <div class="tog-body" th:each="comb, iterStat : ${segComb}">
                <legend class="text" th:text="'오는편 여정 '+${iterStat.index+1}"></legend>
                <legend class="legend" th:text="${comb.getDepartureIata()} +' -> '+ ${comb.getArrivalIata()}"></legend>
                <legend class="legend" th:text="${comb.getDepartureAt().substring(5,10)}+'  '+${comb.getDepartureAt().substring(11,16)}+' - '+
                                ${comb.getArrivalAt().substring(5,10)}+'  '+${comb.getArrivalAt().substring(11,16)}"></legend>
                <legend class="legend" th:text="'총 소요시간 : ' + ${comb.getDuration().substring(2)}" style="margin-bottom: 25px;"></legend>
              </div>
            </div>
          </div>
        </div>

        <div class="price-info-wrap" th:each="info : ${airInfo}">
          <div class="price-area">
            <span th:text="'기본운임'"></span>
            <strong th:text="${#numbers.formatInteger(info.getTotalBase(), 3, 'COMMA') + '원'}"></strong>
          </div>
          <div class="price-area">
            <span th:text="'세금 및 제반요금'"></span>
            <strong th:text="${#numbers.formatInteger(info.getTotalPrice() - info.getTotalBase(), 3, 'COMMA') + '원'}"></strong>
          </div>
          <div class="price-area">
            <span th:text="'쿠폰'"></span>
            <strong id="couponPrice">-</strong>
          </div>
          <div class="price-area price-total">
            <span th:text="'총계'">결제 금액</span>
            <strong id="totalPrice" th:value="${info.getTotalPrice()}" th:text="${#numbers.formatInteger(info.getTotalPrice(), 3, 'COMMA') + '원'}"></strong>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [E]tedu-N45 -->
</main>
<link rel="stylesheet" th:href="@{/jhm/jhm.css}">
<script th:src="@{/jhm/jhm.js}"></script>
<script th:inline="javascript">

  let payment = /*[[${payment}]]*/ null;
  console.log(payment);

  const button = document.getElementById("payment-button");
  const coupon = document.getElementById("coupon-box").value;
  const airPrice = document.getElementById("airPrice");
  const airName = document.getElementById("airName");
  const UUID = document.getElementById("UUID");
  const amount = parseFloat(airPrice.value);
  const airKey = document.getElementById("airKey").value;
  const email = document.getElementById("email").value;
  const customerName = document.getElementById("memberId").value;
  const customerPhone = document.getElementById("customerPhone").value;
  const widgetClientKey = "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm";
  const customerKey = "5JSIE9Ck2bINa_In__32e";
  const paymentWidget = PaymentWidget(widgetClientKey, customerKey); // 회원 결제
  let paymentMethodWidget = paymentWidget.renderPaymentMethods(
          "#payment-method",
          { value: amount },
          { variantKey: "DEFAULT" }
  );
  function formatNumberWithCommas(number) {
    return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  }

  function couponPrice(){
    const price = parseInt($('#airPrice').val());
    const totalPrice = $('#totalPrice');
    const couponPrice = $('#couponPrice');
    const coupon = $('#coupon-box').val();

    if(coupon === "noneCoupon"){
      couponPrice.text("-");
      totalPrice.text(formatNumberWithCommas(price) + '원');
      paymentMethodWidget = paymentWidget.renderPaymentMethods(
              "#payment-method",
              { value: amount},
              { variantKey: "DEFAULT" }
      );

    } else if(coupon === "openCoupon"){
      couponPrice.text("5,000원");
      const discountedPrice = price - 5000;
      totalPrice.text(formatNumberWithCommas(discountedPrice) + '원');
      paymentMethodWidget = paymentWidget.renderPaymentMethods(
              "#payment-method",
              { value: discountedPrice},
              { variantKey: "DEFAULT" }
      );
    }
  }




  paymentWidget.renderAgreement(
          "#agreement",
          { variantKey: "AGREEMENT" }
  );

  if(coupon)

    button.addEventListener("click", function () {
      const encodedPaymentInfo = encodeURIComponent(JSON.stringify(payment));
      const successUrl = `${window.location.origin}/member/hamster/success?airKey=${airKey}&email=${email}&UUID=${UUID.value}&paymentInfo=${encodedPaymentInfo}`;
      const failUrl = `${window.location.origin}/member/hamster/fail`;

      paymentWidget.requestPayment({
        orderId: UUID.value,
        orderName: airName.value,
        successUrl: successUrl,
        failUrl: failUrl,
        customerEmail: email,
        customerName: customerName,
        customerMobilePhone: customerPhone,
      });
    });
</script>
<div class="tedu-N17" data-bid="fjlxiC75U0">
  <th:block th:replace="~{common/footer :: footer-fragment}"></th:block>
</div>
<th:block th:replace="~{common/footer-down :: footer-js-fragment}"></th:block>
</body>