<!-- 이 코드를 복붙해서 사용해주세요 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<head th:replace="~{common/head-top :: head-top-fragment}"><title>감자팀</title></head>
<body>
<div th:replace="~{common/head :: head-fragment}"></div>

<!-- [E]tedu-N3 -->
<main class="th-layout-main ">
  <!-- [S]tedu-N39 -->
  <div class="tedu-N39" data-bid="EyLxIFDIaZ">
    <div class="content-inner">
      <div class="content-container">
        <div class="member-wrap-03">
          <div class="form-body">
            <legend class="legend"><h2>예약하시는 항공권의 정보를 다시한번 확인해주세요!</h2></legend>
            <div class="input-group">
              <div class="tedu-inputset">
                <legend class="legend" th:text="${cont.getAirplaneDepart() + ' -> ' + cont.getAirplaneArrive()}"></legend>
                <legend class="legend" th:text="${cont.getAirplaneDepartTime().toString().substring(0,16) + ' - ' + cont.getAirplaneArriveTime().toString().substring(0,16)}"></legend>
                <legend class="legend" th:text="${cont.getAirplaneName()}"></legend>
              </div>
            </div>
          <div class="form-wrap">
            <form method="post" action="/member/hamster/airplane/payment">
              <input type="hidden" th:value="${cont.getAirplaneKey()}" name="key">
                <div class="input-group">
                  <div class="tedu-inputset">
                <legend class="legend"><h2>연락처 정보</h2></legend>
                <legend class="legend" style="margin-bottom: 30px;">전자 항공권(e-티켓)을 받으실 연락처 정보를 입력해주세요</legend>
                  </div>
                </div>

                <fieldset class="fieldset">
                  <legend class="legend">영문 이름(First Name)</legend>
                  <div class="input-group">
                    <div class="tedu-inputset">
                      <input type="text" id="callFname" name="callFname" class="tedu-input lightmode" placeholder="영문 이름(First Name)" aria-label="영문 이름(First Name)">
                      <div id="FirstnameError" style="color: red; display: none;">이름을 입력해주세요.</div>
                      <div id="FirstnameEngError" style="color: red; display: none;">이름은 대,소문자 영어로 작성해주세요.</div>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="fieldset">
                  <legend class="legend">영문 성(Last Name)</legend>
                  <div class="input-group flex-style">
                    <div class="tedu-inputset">
                      <input type="text" id="callLname" name="callLname" class="tedu-input lightmode" placeholder="영문 성(Last Name)" aria-label="영문 성(Last Name)">
                      <div id="LastnameError" style="color: red; display: none;">이름을 입력해주세요.</div>
                      <div id="LastnameEngError" style="color: red; display: none;">이름은 대,소문자 영어로 작성해주세요.</div>
                    </div>
                  </div>
                </fieldset>

              <fieldset class="fieldset">
                <legend class="legend">국가/전화번호</legend>
                <div class="input-group">
                  <select class="form-select form-select-lg mb-3" name="country">
                    <th:block th:each="country : ${country}">
                      <option th:text="${country}" th:value="${country}" ></option>
                    </th:block>
                  </select>
                  <input type="text" id="phone" name="phone" class="tedu-input lightmode" placeholder="'-'을 제외한 숫자만 입력해주세요." aria-label="내용">
                  <div id="phoneError" style="color: red; display: none;">휴대폰 번호를 입력해주세요.</div>
                  <div id="phoneNumError" style="color: red; display: none;">'-'을 제외한 숫자만 입력해주세요.</div>
                </div>
              </fieldset>

                <fieldset class="fieldset">
                  <legend class="legend">이메일</legend>
                  <div class="input-group input-group-mail">
                    <div class="tedu-inputset">
                      <input type="text" id="email" name="email" class="tedu-input lightmode" placeholder="your@email.com" aria-label="내용">
                      <div id="emailError" style="color: red; display: none;">이메일을 입력해주세요.</div>
                      <div id="notEmailError" style="color: red; display: none;">올바른 이메일 형식으로 입력해주세요.</div>
                    </div>
                  </div>
                </fieldset>
              <div class="form-footer btn-box">
                <input type="submit" value="결제하기" class="tedu-btn tedu-btn-light btn-link" onclick="return PlaneReservationCheck()">
                <input type="button" value="취소" class="tedu-btn tedu-btn-light btn-mono">
              </div>
            </form>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [E]tedu-N39 -->
</main>
<script type="text/javascript" th:src="@{/ham.js/PlaneReservationCheck.js}"></script>
<div class="tedu-N17" data-bid="fjlxiC75U0">
  <th:block th:replace="~{common/footer :: footer-fragment}"></th:block>
</div>
<th:block th:replace="~{common/footer-down :: footer-js-fragment}"></th:block>
</body>