<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div align="center">
        <a th:href="@{/member/hamster/shoppingCart}">장바구니</a>
        <table width="900" border="1" cellspacing="0">
            <tr>
               <th>항공사명</th>
               <th>출발 지역</th>
               <th>도착 지역</th>
               <th>여객기 출발시간</th>
               <th>여객기 도착시간</th>
               <th>항공권 가격</th>
               <th>예매하기</th>
               <th>장바구니</th>
            </tr>

            <th:block th:if="${list != null}">
            <tr th:each="dto : ${list}">
                <td th:text="${dto.getAirplaneName()}"></td>
                <td th:text="${dto.getAirplaneDepart()}"></td>
                <td th:text="${dto.getAirplaneArrive()}"></td>
                <td th:text="${dto.getAirplaneDepartTime().toString().substring(0,16)}"></td>
                <td th:text="${dto.getAirplaneArriveTime().toString().substring(0,16)}"></td>
                <td th:text="${#numbers.formatInteger(dto.getAirplanePrice(),3,'COMMA')+ '원'}"></td>
                <td>
                    <button th:onclick="|location.href='@{/member/hamster/airplane/ticketing(key=${dto.getAirplaneKey()})}'|" style="background-color: beige">예매하기</button>
                </td>
                <td>
                    <button th:onclick="|location.href='@{/member/hamster/airplane/shoppingCart(key=${dto.getAirplaneKey()})}'|" style="background-color: beige">장바구니</button>
                </td>
            </tr>
            </th:block>
        </table>
        <button th:onclick="|location.href='@{/member/hamster/airplane/airplaneInfoList}'|" style="background-color: beige">항공사 리스트</button>
    </div>
</body>
</html>