<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://js.tosspayments.com/v1/payment-widget"></script>
<html lang="en">
<style>
    .aa{
        width: 430px;
        height: 300px;
        background-color: palegoldenrod;
        float: right;
        margin-top: 40px;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
</head>
<body>
<input type="hidden" th:value="${cont.getAirplanePrice()}" id="airPrice">
<input type="hidden" th:value="${cont.getAirplaneName()}+' '+${cont.getAirplaneDepart()}+'->'+${cont.getAirplaneArrive()}+'행 항공권'" id="airname">

<!-- 결제 UI, 이용약관 UI 영역 -->
<div id="payment-method"></div>
<div id="agreement"></div>
<!-- 결제하기 버튼 -->
<button id="payment-button">결제하기</button>

<div align="center">
    <table width="500">
        <tr>
            <th>연락처 정보 <br></th>
        </tr>
        <tr>
            <td>전자 항공권(e-티켓)을 받으실 연락처 정보를 입력하세요 <br><br></td>
        </tr>

        <tr>
            <td>영문 이름(First Name)</td>
        </tr>
        <tr>
            <td>
                <input placeholder="영문 이름(First Name)">
            </td>
        </tr>

        <tr>
            <td>영문 성(Last Name)</td>
        </tr>
        <tr>
            <td>
                <input placeholder="영문 성(Last Name)">
            </td>
        </tr>

        <tr>
            <td>휴대전화번호</td>
        </tr>
        <tr>
            <td>
                <input>
            </td>
        </tr>

        <tr>
            <td>이메일 주소</td>
        </tr>
        <tr>
            <td>
                <input>
            </td>
        </tr>
    </table>
</div>

<div align="center">
    <table width="500">
        <tr>
            <th>탑승객 정보</th>
        </tr>

        <tr>
            <td>몆명이 탑승하나요?</td>
            <td>
                <input type="number" min="1" onchange="customer_cnt()">
            </td>
        </tr>


    </table>
</div>

<div class="aa" align="center">
    <h3>항공권 정보</h3>
    <table width="400" border="1" cellspacing="0">
        <tr style="text-align: center;">
            <th th:text="${cont.getAirplaneDepart() + ' -> ' + cont.getAirplaneArrive()}"></th>
        </tr>

        <tr style="text-align: center;">
            <td th:text="${cont.getAirplaneDepartTime().toString().substring(0,16) + ' - ' + cont.getAirplaneArriveTime().toString().substring(0,16)}"></td>
        </tr>

        <tr style="text-align: center;">
            <td th:text="${cont.getAirplaneName()}"></td>
        </tr>
    </table>
</div>

<script>

    const button = document.getElementById("payment-button");
    const airPrice = document.getElementById("airPrice");
    const airName = document.getElementById("airname");
    const amount = parseFloat(airPrice.value);

    // 구매자의 고유 아이디를 불러와서 customerKey로 설정하세요.
    // 이메일・전화번호와 같이 유추가 가능한 값은 안전하지 않습니다.
    const widgetClientKey = "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm";
    const customerKey = "5JSIE9Ck2bINa_In__32e";
    const paymentWidget = PaymentWidget(widgetClientKey, customerKey); // 회원 결제
    // const paymentWidget = PaymentWidget(widgetClientKey, PaymentWidget.ANONYMOUS) // 비회원 결제

    const paymentMethodWidget = paymentWidget.renderPaymentMethods(
        "#payment-method",
        { value: amount },
        { variantKey: "DEFAULT" }
    );

    paymentWidget.renderAgreement(
        "#agreement",
        { variantKey: "AGREEMENT" }
    );


    button.addEventListener("click", function () {
        // 결제를 요청하기 전에 orderId, amount를 서버에 저장하세요.
        // 결제 과정에서 악의적으로 결제 금액이 바뀌는 것을 확인하는 용도입니다.
        paymentWidget.requestPayment({
            orderId: "hamhamham123",
            orderName: airName.value,
            successUrl:window.location.origin +"/member/hamster/success",
            failUrl: window.location.origin +"/member/hamster/fail",
            customerEmail: "customer123@gmail.com",
            customerName: "김토스",
            customerMobilePhone: "01012341234",
        });
    });
</script>
<script type="text/javascript" th:src="@{/ham.js/CustomerCnt.js}"></script>
</body>
</html>