<!-- 이 코드를 복붙해서 사용해주세요 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{common/head-top :: head-top-fragment}"><title>감자팀</title></head>
<body>
<div th:replace="~{common/head :: head-fragment}"></div>

<!-- [E]tedu-N3 -->
<main class="th-layout-main ">
  <!-- [S]tedu-N47 -->
  <div class="tedu-N47" data-bid="RSlXeE3jI3" id="">
    <div class="content-inner">
      <div class="content-container">
        <section class="myedu-wrap">
          <div class="title-wrap">
            <h3 class="cont-title">장바구니​<br></h3>
          </div>
          <div class="tab-menu-wrap">
            <div class="tab-menu active">
              <a href="javascript:void(0)">
                <span>전체 목록</span>
              </a>
            </div>
            <div class="tab-menu">
              <a href="javascript:void(0)">
                <span>항공권</span>
              </a>
            </div>
            <div class="tab-menu">
              <a href="javascript:void(0)">
                <span>숙소</span>
              </a>
            </div>
            <div class="tab-menu">
              <a href="javascript:void(0)">
                <span>액티비티<br></span>
              </a>
            </div>
          </div>
          <div class="myedu-cont-wrap">
            <div class="myedu-area">
              <div class="myedu-cont">
                <div class="img-area">
                </div>
                <div class="text-area">
                  <span>40% 진행</span>
                  <div class="title">역대급 가성비 온라인 교육 디자인 툴 마스터 클래스</div>
                </div>
              </div>

              <fieldset class="fieldset">
                <div class="radio-group">
                  <div class="checkset">
                    <input id="reply-1" type="checkbox" name="reply" value="">
                    <span class="checkset-text">장바구니</span>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </section>
        <div class="form-footer btn-box">
          <a class="tedu-btn tedu-btn-light btn-link" href="javascript:void(0)">결제하기</a>
          <a class="tedu-btn tedu-btn-light btn-mono" href="javascript:void(0)">취소</a>
        </div>
      </div>
    </div>
  </div>
  <!-- [E]tedu-N47 -->
</main>
<div class="tedu-N17" data-bid="fjlxiC75U0">
  <th:block th:replace="~{common/footer :: footer-fragment}"></th:block>
</div>
<th:block th:replace="~{common/footer-down :: footer-js-fragment}"></th:block>
</body>