<!-- 이 코드를 복붙해서 사용해주세요 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{common/head-top :: head-top-fragment}"><title>감자팀</title></head>
<link rel="stylesheet" th:href="@{/concho/css/hotel_list.css}">
<body>
<div th:replace="~{common/head :: head-fragment}"></div>

<!-- [E]tedu-N3 -->
<main class="th-layout-main ">
    <!-- [S]tedu-N47 -->
    <div class="tedu-N47" data-bid="CulXIc4GvR">
        <div class="content-inner">
            <div class="content-container">
                <section class="myedu-wrap">
                    <div class="title-wrap-1" style="display: flex; align-items: center; justify-content: space-between;">
                        <th:block th:if="${hotelAndIataList != null && !hotelAndIataList.isEmpty()}">
                        <h3 class="cont-title" th:text="|검색된 숙박 목록 : ${hotelAndIataList.size()}|"></h3>
                        </th:block>
                        <th:block th:if="${!(hotelAndIataList != null && !hotelAndIataList.isEmpty())}">
                            <h3 class="cont-title" th:text="|검색된 숙박 목록 없음|"></h3>
                        </th:block>
                        <button type="button" style="border-radius: 3rem 3rem 3rem 3rem; width: 80px; height: 40px; background-color: #009EFF"
                                class="tedu-btn tedu-btn-light add-cart" onclick="location.href='/con/hotel-search'">뒤로가기</button>
                    </div>

                    <form method="get" action="/con/hotel-info" id="hidden-form" style="display: none;">
                        <label for="hotel-uuid"></label>
                        <input type="text" id="hotel-uuid" name="hotelUuid">
                        <label for="hotel-ad-id"></label>
                        <input type="text" id="hotel-ad-id" name="hotelAdId">
                        <label for="iata-code"></label>
                        <input type="text" id="iata-code" name="iataCode" th:value="${searchParam.getIataCode()}">
                        <label for="check-In"></label>
                        <input type="text" id="check-In" name="checkIn" th:value="${searchParam.getCheckIn()}">
                        <label for="check-out"></label>
                        <input type="text" id="check-out" name="checkOut" th:value="${searchParam.getCheckOut()}">
                        <label for="person-cnt"></label>
                        <input type="text" id="person-cnt" name="personCnt" th:value="${searchParam.getPersonCnt()}">
                    </form>
                    <div class="myedu-cont-wrap" id="hotel-list-block">
                        <th:block th:if="${hotelAndIataList != null && !hotelAndIataList.isEmpty()}">
                            <div class="myedu-area" th:each="hotelAndIata : ${hotelAndIataList}" th:id="${hotelAndIata.getUuid()}">
                                <img class="card-img-my" th:src="${hotelAndIata.getSampleImage()}" alt="이미지" loading="lazy">
                                <div class="myedu-cont">
                                    <div class="text-area" >
                                        <!-- 나라 이름 -->
                                        <strong class="cate"
                                                th:text="${hotelAndIata.getConIataCode().getCountryKo()}">
                                        </strong>
                                        <!-- 지역 이름 -->
                                        <span th:text="${hotelAndIata.getConIataCode().getCityKo()}"></span>
                                        <!-- 호텔 이름 -->
                                        <div class="title" th:text="${hotelAndIata.getHotelName()}"></div>
                                    </div>
                                </div>
                                <button type="button" class="tedu-btn tedu-btn-dark btn-link"
                                    th:data-uuid="${hotelAndIata.getUuid()}"
                                    th:data-ad-id="${hotelAndIata.getHotelAdId()}">
                                    <span class="my-text">숙박 상세보기</span>
                                </button>
                            </div>
                        </th:block>
                        <button type="button" class="tedu-btn" id="more" style="width: 50%;" th:align="center">
                            <span class="my-text">더보기</span>
                        </button>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>
<div id="loading">
    <img th:src="@{/asset/videos/grey-9026.gif}" alt=".">
</div>
<div class="tedu-N17" data-bid="fjlxiC75U0">
    <th:block th:replace="~{common/footer :: footer-fragment}"></th:block>
</div>
<th:block th:replace="~{common/footer-down :: footer-js-fragment}"></th:block>
<script>
    const $hiddenForm = $('#hidden-form');
    const $hotelListBlock = $('#hotel-list-block');
    const $loading = $('#loading');
    $hotelListBlock.on('click', '.btn-link', function () {
        $hiddenForm.find('#hotel-uuid').val($(this).data('uuid'));
        $hiddenForm.find('#hotel-ad-id').val($(this).data('ad-id'));
        $loading.css('display', 'block');
        $hiddenForm.submit();
    });

</script>