<!-- 이 코드를 복붙해서 사용해주세요 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{common/head-top :: head-top-fragment}"><title>감자팀</title></head>
<body>
<div th:replace="~{common/head :: head-fragment}"></div>

<!-- [E]tedu-N3 -->
<main class="th-layout-main ">
    <!-- [S]tedu-N18 -->
    <div class="tedu-N18" data-bid="JsLXmnn4Nl">
        <div class="content-inner">
            <div class="content-container">
                <section class="subvisual">
                    <div class="card-img-area">
                        <div class="img-wrap">
                            <div class="img-box">
                                <img class="card-img card-img-pc" th:src="@{/asset/images/img_N18_pc.png}" alt="이미지">
                                <img class="card-img card-img-mo" th:src="@{/asset/images/img_N18_mo.png}" alt="모바일이미지">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- [E]tedu-N18 -->
    <!-- [S]tedu-N20 -->
    <div class="tedu-N20" data-bid="nflxmnn4ye">
        <div class="content-container">
            <div class="sidebar">
                <div class="text-warp">
                    <div class="cate-area">
                        <div class="tbox-list">
                            <span class="tbox">디자인</span>
                            <span class="tbox">UI/UX</span>
                        </div>
                        <button type="button" class="ico-bookmark">
                            <em></em>
                            <span>북마크</span>
                        </button>
                    </div>
                    <div class="title-area">
                        <h3 class="title">역대급 가성비 온라인 교육 디자인 툴 마스터 클래스</h3>
                        <p class="text">템플릿하우스</p>
                    </div>
                    <div class="price-area">
                        <p class="sale-box">
                            <span>정가</span>
                            <span class="discount">월 100,000원</span>
                        </p>
                        <div class="price-box">
                            <div class="price-text">
                                <strong class="per">70%</strong>
                                <strong class="price">월 30,000원</strong>
                            </div>
                            <p class="price-info">* 12개월 무이자 할부 시</p>
                        </div>
                    </div>
                    <button type="button" class="tedu-btn tedu-btn-light add-cart">수강 신청하기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- [E]tedu-N20 -->
    <!-- [S]tedu-N22 -->
    <div class="tedu-N22" data-bid="gClXmnN54I">
        <div class="content-inner">
            <div class="content-container">
                <div class="tab-menu-wrap">
                    <div class="tab-menu active">
                        <a href="javascript:void(0)">
                            <span>강의소개</span>
                        </a>
                    </div>
                    <div class="tab-menu">
                        <a href="javascript:void(0)">
                            <span>수강평</span>
                            <strong>20</strong>
                        </a>
                    </div>
                    <div class="tab-menu">
                        <a href="javascript:void(0)">
                            <span>문의사항</span>
                        </a>
                    </div>
                    <div class="tab-menu">
                        <a href="javascript:void(0)">
                            <span>새소식</span>
                            <strong>2</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [E]tedu-N22 -->
    <!-- [S]tedu-N23 -->
    <div class="tedu-N23" data-bid="tolxmNN5c7">
        <div class="content-inner">
            <div class="content-container">
                <section class="intro-wrap">
                    <div class="text-wrap">
                        <div class="title">입문자를 위해 준비한 <br>[UX/UI, 디자인 툴] 강의입니다. </div>
                        <p class="text">어도비(Adobe) 사의 UX/UI 디자인 툴, Adobe의 전반적인 기능을 살펴보고 실무 디자인 작업에 응용할 수 있는 여러 가지 방법을 학습할 수 있도록 가이드를 제공합니다.</p>
                    </div>
                    <div class="card-img-area">
                        <div class="img-wrap">
                            <div class="img-box">
                                <img class="card-img card-img-pc" th:src="@{/asset/images/img_N23_pc.png}" alt="이미지">
                                <img class="card-img card-img-mo" th:src="@{/asset/images/img_N23_mo.png}" alt="모바일이미지">
                            </div>
                        </div>
                    </div>
                    <div class="text-wrap">
                        <p class="text">본 클래스는 현업에서 많이 쓰이는 TOP 5 툴을 모아서 한 번에 수강하고 실습 예제를 통해 이해할 수 있도록 기획된 클래스 입니다. 비전공자분들에겐 기초와 이론도 중요하지만, 그만큼 나의 것으로 승화 시키는 것도 중요하죠. 이제는 머리가 아닌 손으로 익히는 실습 예제 파일들로 나의 스킬을 만드세요!</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- [E]tedu-N23 -->
    <!-- [S]tedu-N25 -->
    <div class="tedu-N25" data-bid="NglxMNn5hC">
        <div class="content-inner">
            <div class="content-container">
                <section class="example-wrap">
                    <div class="text-wrap">
                        <div class="title">실제 온라인 실습 예시</div>
                    </div>
                    <div class="card-video-area">
                        <div class="videoset">
                            <video class="videoset-video">
                                <source th:src="@{/asset/videos/video.mp4}">
                            </video>
                            <div class="videoset-body">
                                <div class="videoset-bg">
                                    <img class="bg-img bg-img-pc" th:src="@{/asset/images/img_N25_pc.png}" alt="이미지">
                                    <img class="bg-img bg-img-mo" th:src="@{/asset/images/img_N25_mo.png}" alt="모바일이미지">
                                </div>
                                <button class="videoset-play">
                                    <img th:src="@{/asset/icons/ico_video_play.svg}" alt="플레이버튼">
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="list-wrap">
                        <div class="list-step">
                            <strong>1</strong>
                            <span>디자인 시스템 이해하기</span>
                        </div>
                        <div class="list-step">
                            <strong>2</strong>
                            <span>어도비 프로그램 사용법 익히기</span>
                        </div>
                        <div class="list-step">
                            <strong>3</strong>
                            <span>구성요소와 인터페이스 이해하기</span>
                        </div>
                        <div class="list-step">
                            <strong>4</strong>
                            <span>아트보드와 컴포넌트 생성하기</span>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- [E]tedu-N25 -->
    <!-- [S]tedu-N27 -->
    <div class="tedu-N27" data-bid="JKlXMNn5oI">
        <div class="content-inner">
            <div class="content-container">
                <div class="review-wrap">
                    <div class="text-wrap">
                        <div class="title">수강평</div>
                        <span>총 20개</span>
                    </div>
                    <p class="sm-text">수강생분들이 직접 작성하신 수강평입니다.</p>
                    <div class="review-area">
                        <div class="reveiw-component">
                            <div class="num">4.9</div>
                            <div class="rating-box">
                                <div class="rating">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>
                            <p class="text">20개의 수강평</p>
                        </div>
                        <div class="reveiw-list">
                            <div class="review-swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="card-wrap">
                                            <a href="javascript:void(0)">
                                                <div class="card-area">
                                                    <div class="card-title-area">
                                                        <div class="profile-box">
                                                            <img th:src="@{/asset/images/img_profile_06.png}" alt="이미지">
                                                        </div>
                                                        <div class="review-list-rating">
                                                            <div class="rating-box">
                                                                <div class="rating">
                                                                    <span class="star"></span>
                                                                    <span class="star"></span>
                                                                    <span class="star"></span>
                                                                    <span class="star"></span>
                                                                    <span class="star"></span>
                                                                </div>
                                                            </div>
                                                            <p class="name">수강생1</p>
                                                        </div>
                                                    </div>
                                                    <div class="card-text-area">
                                                        <p class="text">XD 시작하기 막막했는데, 강의 듣고 나니 이제 기존 웹사이트 똑같이 만드는 건 쉬워요! 이론과 실습을 같이 진행해주어서 새로운 툴도 이해하기 쉬웠습니다. 감사합니다. XD 시작하기 막막했는데, 강의 듣고 나니 </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="card-wrap">
                                            <a href="javascript:void(0)">
                                                <div class="card-area">
                                                    <div class="card-title-area">
                                                        <div class="profile-box">
                                                            <img th:src="@{/asset/images/img_profile_05.png}" alt="이미지">
                                                        </div>
                                                        <div class="review-list-rating">
                                                            <div class="rating-box">
                                                                <div class="rating">
                                                                    <span class="star"></span>
                                                                    <span class="star"></span>
                                                                    <span class="star"></span>
                                                                    <span class="star"></span>
                                                                    <span class="star"></span>
                                                                </div>
                                                            </div>
                                                            <p class="name">수강생2</p>
                                                        </div>
                                                    </div>
                                                    <div class="card-text-area">
                                                        <p class="text">XD 시작하기 막막했는데, 강의 듣고 나니 이제 기존 웹사이트 똑같이 만드는 건 쉬워요! 이론과 실습을 같이 진행해주어서 새로운 툴도 이해하기 쉬웠습니다. 감사합니다. XD 시작하기 막막했는데, 강의 듣고 나니 </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="card-wrap">
                                            <a href="javascript:void(0)">
                                                <div class="card-area">
                                                    <div class="card-title-area">
                                                        <div class="profile-box">
                                                            <img th:src="@{/asset/images/img_profile_06.png}" alt="이미지">
                                                        </div>
                                                        <div class="review-list-rating">
                                                            <div class="rating-box">
                                                                <div class="rating">
                                                                    <span class="star"></span>
                                                                    <span class="star"></span>
                                                                    <span class="star"></span>
                                                                    <span class="star"></span>
                                                                    <span class="star"></span>
                                                                </div>
                                                            </div>
                                                            <p class="name">수강생3</p>
                                                        </div>
                                                    </div>
                                                    <div class="card-text-area">
                                                        <p class="text">XD 시작하기 막막했는데, 강의 듣고 나니 이제 기존 웹사이트 똑같이 만드는 건 쉬워요! 이론과 실습을 같이 진행해주어서 새로운 툴도 이해하기 쉬웠습니다. 감사합니다. XD 시작하기 막막했는데, 강의 듣고 나니 </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="card-wrap">
                                            <a href="javascript:void(0)">
                                                <div class="card-area">
                                                    <div class="card-title-area">
                                                        <div class="profile-box">
                                                            <img th:src="@{/asset/images/img_profile_05.png}" alt="이미지">
                                                        </div>
                                                        <div class="review-list-rating">
                                                            <div class="rating-box">
                                                                <div class="rating">
                                                                    <span class="star"></span>
                                                                    <span class="star"></span>
                                                                    <span class="star"></span>
                                                                    <span class="star"></span>
                                                                    <span class="star"></span>
                                                                </div>
                                                            </div>
                                                            <p class="name">수강생4</p>
                                                        </div>
                                                    </div>
                                                    <div class="card-text-area">
                                                        <p class="text">XD 시작하기 막막했는데, 강의 듣고 나니 이제 기존 웹사이트 똑같이 만드는 건 쉬워요! 이론과 실습을 같이 진행해주어서 새로운 툴도 이해하기 쉬웠습니다. 감사합니다. XD 시작하기 막막했는데, 강의 듣고 나니 </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-wrap">
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [E]tedu-N27 -->
    <!-- [S]tedu-N29 -->
    <div class="tedu-N29" data-bid="UnLxmNn5uh">
        <div class="content-inner">
            <div class="content-container">
                <section class="faq-wrap">
                    <div class="text-wrap">
                        <div class="title">문의사항</div>
                    </div>
                    <div class="acc-wrap">
                        <div class="acc-item">
                            <div class="acc-header">
                                <button class="acc-btn" type="button">
                                    <span class="acc-q">Q</span>
                                    <strong>온라인 교육을 들을 수 있는 방법은 무엇인가요?</strong>
                                </button>
                            </div>
                            <div class="acc-body">
                                <div class="acc-cont"> 네, 강의는 수강 기간 내 여러번 반복 시청이 가능합니다. 강의에서 사용된 업계 전문 용어, 학습을 위한 참고자료, 미션 팁 등을 정리한 PDF 자료로 온라인으로 전달됩니다. 동영상 강의 수강권: 10만 원 / 온라인 코칭권 : 8만 원(1회 당) </div>
                            </div>
                        </div>
                        <div class="acc-item">
                            <div class="acc-header">
                                <button class="acc-btn" type="button">
                                    <span class="acc-q">Q</span>
                                    <strong>결제기한은 언제까지인가요?</strong>
                                </button>
                            </div>
                            <div class="acc-body">
                                <div class="acc-cont"> 네, 강의는 수강 기간 내 여러번 반복 시청이 가능합니다. 강의에서 사용된 업계 전문 용어, 학습을 위한 참고자료, 미션 팁 등을 정리한 PDF 자료로 온라인으로 전달됩니다. 동영상 강의 수강권: 10만 원 / 온라인 코칭권 : 8만 원(1회 당) </div>
                            </div>
                        </div>
                        <div class="acc-item active">
                            <div class="acc-header">
                                <button class="acc-btn" type="button">
                                    <span class="acc-q">Q</span>
                                    <strong>동영상 강의는 기간 내 무제한 시청이 가능한가요?</strong>
                                </button>
                            </div>
                            <div class="acc-body">
                                <div class="acc-cont"> 네, 강의는 수강 기간 내 여러번 반복 시청이 가능합니다. 강의에서 사용된 업계 전문 용어, 학습을 위한 참고자료, 미션 팁 등을 정리한 PDF 자료로 온라인으로 전달됩니다. 동영상 강의 수강권: 10만 원 / 온라인 코칭권 : 8만 원(1회 당) </div>
                            </div>
                        </div>
                        <div class="acc-item">
                            <div class="acc-header">
                                <button class="acc-btn" type="button">
                                    <span class="acc-q">Q</span>
                                    <strong>2개 이상의 카드로 분할 결제할 수 있나요?</strong>
                                </button>
                            </div>
                            <div class="acc-body">
                                <div class="acc-cont"> 네, 강의는 수강 기간 내 여러번 반복 시청이 가능합니다. 강의에서 사용된 업계 전문 용어, 학습을 위한 참고자료, 미션 팁 등을 정리한 PDF 자료로 온라인으로 전달됩니다. 동영상 강의 수강권: 10만 원 / 온라인 코칭권 : 8만 원(1회 당) </div>
                            </div>
                        </div>
                        <div class="acc-item">
                            <div class="acc-header">
                                <button class="acc-btn" type="button">
                                    <span class="acc-q">Q</span>
                                    <strong>포트폴리오 활용 용도에 적합한가요?</strong>
                                </button>
                            </div>
                            <div class="acc-body">
                                <div class="acc-cont"> 네, 강의는 수강 기간 내 여러번 반복 시청이 가능합니다. 강의에서 사용된 업계 전문 용어, 학습을 위한 참고자료, 미션 팁 등을 정리한 PDF 자료로 온라인으로 전달됩니다. 동영상 강의 수강권: 10만 원 / 온라인 코칭권 : 8만 원(1회 당) </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- [E]tedu-N29 -->
    <!-- [S]tedu-N31 -->
    <div class="tedu-N31" data-bid="BGlxMNn5ZF">
        <div class="content-inner">
            <div class="content-container">
                <section class="news-wrap">
                    <div class="text-wrap">
                        <div class="title">새소식</div>
                        <span>총 2개</span>
                    </div>
                    <div class="news-area">
                        <div class="card-wrap badge">
                            <div class="card-area">
                                <div class="card-img-area">
                                    <div class="profile-box">
                                        <img th:src="@{/asset/images/img_profile_08.png}" alt="이미지">
                                    </div>
                                </div>
                                <div class="card-text-area">
                                    <h4 class="name">템플릿하우스</h4>
                                    <p class="date">30일 전 (29일 전 수정됨)</p>
                                    <p class="text">안녕하세요. 여러분! <br> 템하가 새로운 소식을 가지고 왔습니다. <br> 템플릿하우스는 코딩을 가장쉽고 빠르게 만들 수 있습니다. 원하는 블록을 가져다 놓기만 하세요. 템플릿하우스는 코딩을 가장쉽고 빠르게 만들 수 있습니다. 원하는 블록을 가져다 놓기만 하세요. </p>
                                </div>
                            </div>
                            <button type="button" class="ico-heart">
                                <em></em>
                            </button>
                        </div>
                        <div class="card-wrap">
                            <div class="card-area">
                                <div class="card-img-area">
                                    <div class="profile-box">
                                        <img th:src="@{/asset/images/img_profile_08.png}" alt="이미지">
                                    </div>
                                </div>
                                <div class="card-text-area">
                                    <h4 class="name">템플릿하우스</h4>
                                    <p class="date">60일 전 (60일 전 수정됨)</p>
                                    <p class="text">안녕하세요. 여러분! <br> 템하가 새로운 소식을 가지고 왔습니다. <br> 템플릿하우스는 코딩을 가장쉽고 빠르게 만들 수 있습니다. 감사합니다. </p>
                                </div>
                            </div>
                            <button type="button" class="ico-heart">
                                <em></em>
                            </button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- [E]tedu-N31 -->
</main>

<div class="tedu-N17" data-bid="fjlxiC75U0">
    <th:block th:replace="~{common/footer :: footer-fragment}"></th:block>
</div>
<th:block th:replace="~{common/footer-down :: footer-js-fragment}"></th:block>
</body>