<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Exchange Rates</title>
</head>
<body>
<h1>Exchange Rates</h1>
<table border="1">
    <thead>
    <tr>
        <th>Currency Unit</th>
        <th>Buying TT Rate</th>
        <th>Currency Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="rate : ${exchangeRates}">
        <td th:text="${rate['cur_unit']}"></td>
        <td th:text="${rate['ttb']}"></td>
        <td th:text="${rate['cur_nm']}"></td>
    </tr>

    </tbody>
</table>
<h2>Exchange Currency</h2>
<form action="user/esh/doConvert" method="get">
    <th:block>
    <label>From Currency:</label>

    <select name="fromCurrency">
        <option th:each="rate : ${exchangeRates}"
                th:value="${rate['cur_unit']}"
                th:text="${rate['cur_nm']} + '(' + ${rate['cur_unit']} + ')'"></option>
    </select><br>

    <label>To Currency:</label>
    <select name="toCurrency">
        <option th:each="rate : ${exchangeRates}"
                th:value="${rate['cur_unit']}"
                th:text="${rate['cur_nm']} + '(' + ${rate['cur_unit']} + ')'"></option>
    </select><br>
    <label>금액을 입력하세요</label>
    <input type="text" name="amount"><br>

    <input type="submit" value="Convert">
    </th:block>
</form>

<!-- 환전 결과를 표시할 부분 -->
<h3>Converted Amount:</h3>
<p id="convertedAmount"></p>

<script th:inline="javascript">
    async function fetchConvertedAmount(fromCurrency, toCurrency, amount) {
        const response = await fetch(`http://localhost:8787/proxy?fromCurrency=${fromCurrency}&toCurrency=${toCurrency}&amount=${amount}`);
        if(!response.ok) { //요철 실패
            throw new Error('Network response was not successful');
        }
        return response.text();
    }


    document.querySelector('form').addEventListener('submit', function(event) {
        event.preventDefault(); // 폼 제출 기본 동작을 막음

        const fromCurrency = document.querySelector('select[name="fromCurrency"]').value;
        const toCurrency = document.querySelector('select[name="toCurrency"]').value;
        const amount = document.querySelector('input[name="amount"]').value;

        fetch(`/user/esh/doConvert?fromCurrency=${fromCurrency}&toCurrency=${toCurrency}&amount=${amount}`)
            .then(response => response.text())
            .then(data => {
                document.getElementById('convertedAmount').innerText = data;
            })
            .catch(error => console.error('Error:', error));
    });
</script>

</body>
</html>