<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goott.trip.jhm.mapper.AdminMapper">

    <insert id="countBot" parameterType="String">
        insert into trip.peopleCnt values(#{str}, 0, 0, 1) on duplicate key update bot = bot + 1
    </insert>

    <insert id="countGuest">
        insert into trip.peopleCnt values(#{str}, 1, 0, 0) on duplicate key update guest = guest + 1
    </insert>

    <update id="countUser" parameterType="String">
        update trip.peopleCnt set guest = guest - 1, user = user + 1 where created_at = #{str}
    </update>

    <select id="getMemberCount" resultType="int">
        select count(*) from trip.member where role = 'MEMBER'
    </select>

    <select id="getMembers" resultType="Member">
        select * from trip.member where role = 'MEMBER' order by created_at desc
    </select>

    <select id="getPeopleCnt" parameterType="int" resultType="PeopleCnt">
        select * from trip.peopleCnt order by created_at desc limit #{n}
    </select>

    <select id="countHotelAPI" parameterType="map" resultType="int">
        select coalesce(sum(cnt), 0) from trip.con_api_usage where use_date like concat('%', #{month}, '%') and category = #{category}
    </select>

    <select id="countFlightAPI" parameterType="String" resultType="int">
        select coalesce(sum(cnt), 0) from trip.flight_api_usages where use_date like concat('%', #{month}, '%')
    </select>

</mapper>
