<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goott.trip.hamster.mapper.AirplaneMapper">

    <select id="airplaneList" resultType="Testproduct">
        SELECT * FROM testproduct
    </select>

    <select id="airplaneCont" parameterType="String" resultType="Testproduct">
        SELECT * FROM testproduct where airplane_key = #{key}
    </select>

    <select id="airplaneInfoList" resultType="airplaneInfo">
        select * from airplaneInfo order by air_num desc
    </select>
</mapper>
