<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goott.trip.esh.mapper.GlobeMapper">
    <select id="selectAllHotels" resultType="com.goott.trip.esh.model.ESHConchoHotel">
        SELECT name, latitude, longitude FROM hotels
        LIMIT 30
    </select>

    <

</mapper>