<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goott.trip.esh.mapper.GlobeMapper">
    <!--
    <select id="selectAllHotels" resultType="com.goott.trip.esh.model.ConHotel">
        SELECT name, latitude, longitude FROM hotels
        LIMIT 40
    </select>

    <select id="selectHotelById" parameterType="map" resultType="com.goott.trip.esh.model.ConHotel">
        select id_key, hotel_id, '0' as start_date,
        '0' as end_date, '0' as person_cnt
        from hotels where id_key = #{hotelIdKey} and hotel_id = #{hotelId}
    </select>

-->
</mapper>