<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goott.trip.concho.mapper.HotelCrawledMapper">
    <insert id="insertHotelCrawledInfo" parameterType="HotelCrawledInfo">
        <selectKey resultType="int" keyProperty="crNum" order="BEFORE">
            SELECT IFNULL(max(cr_num), 0) + 1 FROM trip.hotel_crawled_info
        </selectKey>
        INSERT INTO hotel_crawled_info (cr_num, cr_hotel_id, cr_facility, cr_facility_info, cr_content)
        VALUES (#{crNum}, #{crHotelId}, #{crFacility}, #{crFacilityInfo}, #{crContent})
    </insert>

    <select id="findHotelCrawledInfoByHotelId" parameterType="String" resultType="HotelCrawledInfo">
        SELECT * FROM hotel_crawled_info WHERE cr_hotel_id = #{crHotelId}
    </select>

    <insert id="insertHotelCrawledImg" parameterType="HotelCrawledImg">
        INSERT INTO hotel_crawled_img (cr_img_key, cr_hotel_id)
        VALUES (#{crImgKey}, #{crHotelId})
    </insert>

    <select id="findHotelCrawledImgByHotelId" parameterType="String" resultType="HotelCrawledImg">
        SELECT * FROM hotel_crawled_img WHERE cr_hotel_id = #{crHotelId}
    </select>
    <select id="findOneHotelCrawledImgByHotelId" parameterType="String" resultType="HotelCrawledImg">
        SELECT * FROM hotel_crawled_img WHERE cr_hotel_id = #{crHotelId} LIMIT 1
    </select>

    <insert id="insertHotelCrawledRoom" parameterType="HotelCrawledRoom">
        <selectKey resultType="int" keyProperty="crRoomNum" order="BEFORE">
            SELECT IFNULL(max(cr_room_num), 0) + 1 FROM trip.hotel_crawled_room
        </selectKey>
        INSERT INTO hotel_crawled_room (cr_room_num, cr_room_info, cr_hotel_id)
        VALUES (#{crRoomNum}, #{crRoomInfo}, #{crHotelId})
    </insert>

    <select id="findHotelCrawledRoomByHotelId" parameterType="String" resultType="HotelCrawledRoom">
        SELECT * FROM hotel_crawled_room WHERE cr_hotel_id = #{crHotelId}
    </select>

    <select id="existsHotelInAllTables" parameterType="String" resultType="Boolean">
        SELECT CASE
                   WHEN (EXISTS (SELECT 1 FROM hotel_crawled_info WHERE cr_hotel_id = #{crHotelId})
                       AND EXISTS (SELECT 1 FROM hotel_crawled_img WHERE cr_hotel_id = #{crHotelId})
                       AND EXISTS (SELECT 1 FROM hotel_crawled_room WHERE cr_hotel_id = #{crHotelId}))
                       THEN TRUE
                   ELSE FALSE
                   END
    </select>
</mapper>