<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goott.trip.concho.mapper.IataCodeMapper">
    <insert id="insertIataCode" parameterType="map">
        <selectKey resultType="int" keyProperty="iata_key" order="BEFORE">
            select NVL(max(iata_key), 0) + 1 from iata_code
        </selectKey>
        INSERT IGNORE INTO iata_code (iata_key, iata_code, city, country)
        VALUES (#{iata_key}, #{iataCode}, #{city}, #{country})
    </insert>
</mapper>