<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goott.trip.security.mapper.MemberMapper">

    <select id="findById" parameterType="String" resultType="Member">
        SELECT * FROM trip.member
        WHERE id = #{id}
    </select>

    <insert id="save">
        INSERT INTO trip.member(id, pw, role, name, member.rank, img_key, created_at)
        VALUES (#{id},#{pw},#{role},#{name},#{rank},#{imgKey},now())
    </insert>

    <select id="checkDupId" parameterType="String" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN TRUE ELSE FALSE END
        FROM trip.member
        WHERE id = #{id}
    </select>

    <update id="changePwd" parameterType="map">
        update trip.member
        set pw = #{pw}
        where id = #{id}
    </update>

    <update id="updateMem" parameterType="Member">
        UPDATE trip.member
        SET name=#{name}, img_key=#{imgKey}
        WHERE id=#{id}
    </update>

    <update id="updatePwd" parameterType="String">
        UPDATE trip.member
        SET pw=#{pw}
        WHERE id=#{id}
    </update>

    <select id="checkPwd" parameterType="Member" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM trip.member
        WHERE id = #{id} AND pw = #{pw}
    </select>

    <delete id="deleteMem" parameterType="String">
        DELETE FROM trip.member
        WHERE id=#{id}
    </delete>

    <update id="updateMemberRank" parameterType="Map">
        UPDATE trip.member
        SET member.rank =
                CASE
                    WHEN #{completedCount} = 0 THEN 'Bronze'
                    WHEN #{completedCount} = 1 THEN 'Bronze'
                    WHEN #{completedCount} BETWEEN 2 AND 4 THEN 'Silver'
                    WHEN #{completedCount} BETWEEN 5 AND 9 THEN 'Gold'
                    ELSE 'Platinum'
                    END
        WHERE id = #{memberId}
    </update>

    <update id="updateMemberVipRank" parameterType="String">
        UPDATE trip.member
        SET member.rank = #{vipRank}
        WHERE id = #{memberId}
    </update>

    <update id="updatePaymentStatus" parameterType="Map">
        UPDATE trip.payment
        SET status = #{status}
        WHERE air_key = #{airKey}
    </update>

    <select id="countCompletedPayments" resultType="int">
        SELECT COUNT(*)
        FROM trip.payment
        WHERE member_id = #{memberId} AND status = 'completed'
          AND order_time >= DATE_SUB(NOW(), INTERVAL 2 YEAR)
    </select>

    <select id="getAirKeyList" parameterType="String" resultType="CartFlight">
        SELECT * FROM trip.cartFlight WHERE ffvId = #{airKey}
    </select>

    <select id="getDeparture" parameterType="String" resultType="String">
        SELECT departure
        FROM trip.cartFlight
        WHERE ffvId = #{airKey}
    </select>

    <select id="getComeback" parameterType="String" resultType="String">
        SELECT comeback
        FROM trip.cartFlight
        WHERE ffvId = #{airKey}
    </select>

    <!-- memberId로 예약한 항공편의 airKey 리스트 가져오기 -->
    <!--<select id="getAirKeyList" parameterType="String" resultType="String">
        SELECT air_key
        FROM trip.payment
        WHERE member_id = #{memberId} AND status = 'completed';
    </select>-->


</mapper>