<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goott.trip.jhm.mapper.QNAMapper">

    <insert id="insertFAQ" parameterType="FAQ">
        insert into trip.faq(faq_title, faq_cont, faq_div) values(#{faqTitle}, #{faqCont}, #{faqDiv})
    </insert>

    <select id="getFAQByDiv" parameterType="String" resultType="FAQ">
        select * from trip.faq where faq_div = #{div}
    </select>

    <select id="getQNACount" resultType="int">
        select count(*) from trip.qna;
    </select>

    <select id="getQNAList" parameterType="Page" resultType="QNA">
        <![CDATA[
            select * from (select row_number() over (order by num desc) rnum, q.* from trip.qna q order by qna_group desc, step) as `rq.*` where rnum >= #{startNo} and rnum <= #{endNo}
        ]]>
    </select>

    <insert id="insertQNA" parameterType="QNA">
        <selectKey resultType="int" keyProperty="num" order="BEFORE">
            select coalesce(max(num), 0) + 1 from trip.qna
        </selectKey>

            insert into trip.qna values(#{num}, #{memberId}, #{title}, #{cont}, now(), default, default, #{num}, 0)

    </insert>

    <select id="findRole" parameterType="String" resultType="String">
        select role from trip.member where id = #{id}
    </select>

    <select id="getQNAContent" parameterType="int" resultType="QNA">
        select * from trip.qna where num = #{num}
    </select>

    <update id="modQNA" parameterType="QNA">
        update trip.qna set title = #{title}, cont = #{cont}, updated_at = now() where num = #{num}
    </update>

    <delete id="delQNA" parameterType="int">
        delete from trip.qna where qna_group = #{no}
    </delete>

    <insert id="answerQNA" parameterType="QNA">
        <selectKey resultType="int" keyProperty="num" order="BEFORE">
            select coalesce(max(num), 0) + 1 from trip.qna
        </selectKey>

            insert into trip.qna values(#{num}, #{memberId}, #{title}, #{cont}, now(), default, 2, #{qnaGroup}, 1)
    </insert>

    <update id="changeStatus" parameterType="int">
        update trip.qna set status = 1 where num = #{no} and step = 0
    </update>

    <select id="getAnswer" parameterType="int" resultType="String">
        select cont from trip.qna where qna_group = #{no} and status = 2
    </select>

    <select id="getQNACountForAdmin" resultType="int">
        select count(*) from trip.qna where step = 0
    </select>

    <select id="getQNAListForAdmin" resultType="QNA">
        select * from trip.qna where step = 0 order by qna_group desc
    </select>

</mapper>
