<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goott.trip.jhm.mapper.QNAMapper">

    <insert id="insertFAQ" parameterType="FAQ">
        insert into trip.faq(faq_title, faq_cont, faq_div) values(#{faqTitle}, #{faqCont}, #{faqDiv})
    </insert>

    <select id="getFAQByDiv" parameterType="String" resultType="FAQ">
        select * from trip.faq where faq_div = #{div}
    </select>

    <select id="getQNACount" resultType="int">
        select count(*) from trip.qna;
    </select>

    <select id="getQNAList" parameterType="Page" resultType="QNA">
        <![CDATA[
            select * from (select row_number() over (order by num desc) rnum, q.* from trip.qna q order by qna_group desc, step) as `rq.*` where rnum >= #{startNo} and rnum <= #{endNo}
        ]]>
    </select>

    <insert id="insertQNA" parameterType="QNA">
        <selectKey resultType="int" keyProperty="num" order="BEFORE">
            select coalesce(max(num), 0) + 1 from trip.qna
        </selectKey>

            insert into trip.qna values(#{num}, #{memberId}, #{title}, #{cont}, now(), default, default, #{num}, 0)

    </insert>

</mapper>
