<?xml version="1.0" encoding="UTF-8" ?>
  <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goott.trip.hamster.mapper.shoppingCartMapper">

    <select id="checkDup" parameterType="String" resultType="shoppingCart">
        select air_key from shoppingCart where member_Id = #{memId}
    </select>

    <insert id="insertCart" parameterType="String">
        insert into shoppingCart values (#{memId},#{key},"d")
    </insert>

    <select id="giveShoppingItem" resultType="String">
        select air_key,hotel_key from shoppingCart where member_id = #{memberId}
    </select>
</mapper>